﻿@using UserService;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Vigia Ciudadano(Reportes y Sugerencias)</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    @Styles.Render("~/Content/font")
    <link href="/Content/style-desktop.css" rel="stylesheet">
    <link href="/Content/style.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="/Content/enjoyhint.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/printCondition.css" media="print" />
    @RenderSection("head", required: false)
    @*<script type="text/javascript">
            var appInsights=window.appInsights||function(config){
                function s(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},r=document,f=window,e="script",o=r.createElement(e),i,u;for(o.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",r.getElementsByTagName(e)[0].parentNode.appendChild(o),t.cookie=r.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)s("track"+i.pop());return config.disableExceptionTracking||(i="onerror",s("_"+i),u=f[i],f[i]=function(config,r,f,e,o){var s=u&&u(config,r,f,e,o);return s!==!0&&t["_"+i](config,r,f,e,o),s}),t
            }({
                instrumentationKey:"f5b7d71e-d497-40d7-a137-59fd92a25698"
            });

            window.appInsights=appInsights;
            appInsights.trackPageView();
        </script>*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>
        @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="/Scripts/enjoyhint.js"></script>

    @RenderSection("scripts", required: false)

    <script>

    $(function() {

        $('#InvolvedTypeId').change(function () {
        $('.person-fields').hide();
        $('.' + $(this).val()).show();
    });

    $("#new_comment").focusin(function() {
      $("#new_comment_btn").show();
    });

    $("[data-toggle=popover]").popover({
        html : true,
        placement : 'auto bottom',
        trigger : 'focus',
        content: function() {
          var content = $(this).attr("data-popover-content");
          return $(content).html();
        }
    });

    });
    </script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#submitBtn').click(function () {
            SendMail();
        });

    });
    function SendMail() {
        $('#load').show();
        $.ajax
  		(
			{
			    type: "POST",
			    url: "https://tribalancemailsender.azurewebsites.net/api/email",
			    dataType: 'json',
			    crossDomain: true,
			    data: $("#formToSerialize").serialize(),
			    success: function () {
			        alert('Mensaje enviado, por favor espere se esta por redireccionar la pagina.');
			        $.ajax({
			            type: "POST",
			            url: "@Url.Action("SaveResponseEmail","Editions")",
			            data: $("#formToSerialize").serialize()
			        });
			        window.location.replace("/home");
			        $('#load').hide();
			    },
			    error: function (e) {
			        var errorMessage = "";
			        if (e.responseJSON.ModelState["email.Body"] != undefined) {
			            errorMessage += e.responseJSON.ModelState["email.Body"] + ' . ';
			        }
			        if (e.responseJSON.ModelState["email.AddressFrom"] != undefined) {
			            errorMessage += e.responseJSON.ModelState["email.AddressFrom"];
			        }
			        $('#load').hide();
			        alert(errorMessage);
			    },
			    headers: {
			        "Authorization": "Basic L1ei4U4DzESM77aFqwxJjo6J8lGMDPXaF37y0xsv7tQP2c+dtbyl9hhwi654GA+n/z+39wUeir4/Kb+d+alJgNDcBlq4UaHrdvNVVXOQ2zg="
			    }
			}
		);
    }
    </script>
</body>
</html>
