﻿@using Legendary.Core.Utils
@model IEnumerable<Reports.Models.ReportType>

@{
    ViewBag.Title = "Index";
}
<div class="top-btn">
    @Html.ActionLink("Nuevo Tipo de Reportes", "Create", null, null, new { @class = "btn btn-default" })
</div>
<ul class="nav nav-secondary">
    <li><a href="/MessageSources">Orígenes de reportes</a></li>
    <li class="active"><a href="#">Tipos de reportes</a></li>
    <li><a href="/InvolvedTypes">Tipos de involucrados</a></li>
</ul>
<div class="content">
    <div class="listing">
        <div class="listing-head">
            <div class="searchbox">
                <h1>Lista de Tipos de Reportes</h1>
            </div><!-- /.searchbox  -->
        </div><!-- /.listing-head -->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-data">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count;
                    count = 0;

                }
                @if (Model.IsNotEmptyOrNull())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                        count++;

                    }
                }
            </tbody>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@

        </table>
        <div class="listing-footer">
            <p class="listing-showing">Mostrando @count de @count Tipos de Reporte</p>
        </div>
    </div>
</div>

