﻿@using UserService;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="/Content/style.css">
    <link rel="stylesheet" href="/Content/style-desktop.css"> 
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Home", "ShowSuggestions", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Reportes", "ShowReports", "Home", new { }, null)</li>
                    <li>@Html.ActionLink("Sugerencias", "ShowSuggestions", "Home", new { }, null)</li>
                </ul>*@
                @if (LoginManager.IsLoggedIn())
                {
                    var currentUser = LoginManager.GetLoggedUser();
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Reportes", "ShowReports", "Home", new { }, null)</li>
                        <li>@Html.ActionLink("Sugerencias", "ShowSuggestions", "Home", new { }, null)</li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li style="color:white">@Html.ActionLink(currentUser.firstName + " (cerrar sesión)", "Logout", "Account")</li>
                    </ul>
                } 
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tribalance Corporation</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
