﻿@using Microsoft.Ajax.Utilities
@using UserService.Model

@model LoginRequest
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .footerbottom {
        position: fixed;
        width: 100%;
        bottom: 0px;
    }
</style>
<div class="container">

    <div class="content">
        <div class="login-container">
            @if (ViewBag.errorMessage != null)
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @ViewBag.errorMessage
                </div>
            }
            <div class="login-box">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken();
                <fieldset>
        <div class="form-group">
            <label for="userName">
                @Html.LabelFor(model => model.UserEmail, "Email")
            </label>
            @Html.TextBoxFor(model => model.UserEmail, new { @class = "form-control", placeholder = "mail@mail.com" })
            @Html.ValidationMessageFor(model => model.UserEmail)
        </div>
        <div class="form-group">
            <label for="password">
                @Html.LabelFor(model => model.PlainPassword, "Password")
            </label>
            @Html.TextBoxFor(model => model.PlainPassword, new { @class = "form-control", type = "password" })
            @Html.ValidationMessageFor(model => model.PlainPassword)
        </div>
        <div class="checkbox">
            @Html.CheckBoxFor(m => m.RememberMe, new { @checked = (!Model.RememberMe ? "" : "checked") })
            @Html.LabelFor(model => model.RememberMe, "Recordarme")
        </div>
                @Html.Hidden("absoluteUri", (string)ViewBag.absoluteUri)
        <div class="login-btn">
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </div>
        </fieldset>
        }
</div>
            <p class="forgotten">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </p>
        </div>
    </div><!-- /content -->

</div><!-- /container -->
