﻿@using Legendary.Core;
@using Legendary.Core.Utils
@using Reports.Application.Helpers
@using Reports.Models
@{
    var lOfSuggestions = ViewData["listOfSuggestions"].IsNotEmptyOrNull() ? (IEnumerable<Suggestion>)ViewData["listOfSuggestions"] : ViewData["listOfSuggestions"];
    TimeZoneInfo mxZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time (Mexico)"); 
}

@*<div>
    <h3>Lista de sugerencias: </h3>
    
    <div class="list-group" style="width: 35em">
        @{
            if (lOfSuggestions.IsNotEmptyOrNull())
            {
                foreach (var rport in lOfSuggestions as IEnumerable<Suggestion>)
                {
                    <a href="/Home/ShowSuggestionDescription?suggestionId=@rport.Id" class="list-group-item @SiteOptions.GetCSSClassByStatus(rport.Status)">
                        <h4 class="list-group-item-heading">Número del mensaje: @rport.Id</h4>
                        <p class="list-group-item-text">Del correo: @rport.Email</p>
                        <strong><p class="list-group-item-text text-right">@SiteOptions.GetReportStatusText(rport.Status)</p></strong>
                    </a>
                }
            }
        }
    </div>      
    
    

</div>*@


<div>
    <h3>Vigia Ciudadano. Sugerencias</h3>
    <div class="list-group" style="width: 70em">
        @{
            if (lOfSuggestions.IsNotEmptyOrNull())
            {
                var isLoggedUserSuperUser = SecurityService.Manager.IsSuperUser(SecurityService.Manager.GetUserId());
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th colspan="3">
                               MENSAJES.
                            </th>
                            <th colspan="@(isLoggedUserSuperUser? "3":"2")">
                                <div class="pull-right">
                                    @*@Html.ActionLink("NUEVO REPORTE+", "AddReport")*@
                                </div>
                            </th>
                        </tr>
                        <tr class="active">
                            <th># Mensaje</th>
                            <th>Fecha</th>
                            <th>Email</th>
                            <th>Tipo</th>
                            <th>Estado</th>
                            @if (isLoggedUserSuperUser)
                            {
                                <th>Visto por</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rport in lOfSuggestions as IEnumerable<Suggestion>)
                        {
                            var wasModified = rport.ModifiedByUserId.IsNotEmptyOrNull();
                            var showLink = Url.Action("ShowSuggestionDescription", new { suggestionId = rport.Id });
                            var readBy = "-";
                            <tr>
                                <td><a href="@showLink">@rport.Id</a></td>
                                <td>@TimeZoneInfo.ConvertTimeFromUtc(rport.Date ?? DateTime.Now, mxZone)</td>
                                <td><a href="@showLink">@rport.Email</a></td>
                                <td>@SiteOptions.GetSuggestionType(rport.Type)</td>
                                <td class="@SiteOptions.GetCSSClassByStatus(rport.Status)"><a href="@showLink">@SiteOptions.GetReportStatusText(rport.Status)</a></td>
                                @if (isLoggedUserSuperUser)
                                {
                                    if (wasModified)
                                    {
                                        var reader = UserService.Manager.GetUser(rport.ModifiedByUserId ?? 0);
                                        readBy = reader.firstName + " " + reader.lastName;
                                    }
                                    <td>@readBy</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert">No se encontraron mensajes.</div>
            }
        }

    </div>

</div>
