﻿.disabled{
    cursor: default !important;
}
.urgente{
    font-weight: bold;
    background: #E3F9D7 !important;
    color: #000000;
}
.urgente a{
    color: #000000 !important;
}
.mainContainer{
position: relative;
min-height: 100%;
height: auto !important;
height: 100%;
}
.contentGeneral{
    padding-bottom: 40px;
}
.contenedor-pie {
width: 100%;
position: absolute;
bottom: 0 !important;
bottom: -1px;
/*height: 40px;*/
}
html, body{
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    overflow: auto !important;
}