﻿@font-face 
    {
        font-family:"Bar-Code 39";
        src:url("/Content/fonts/Code39.eot?") format("eot"),url("/Content/fonts/Code39.woff") format("woff"),url("/Content/fonts/Code39.ttf") format("truetype"),url("/Content/fonts/Code39.svg#") format("svg");
        font-weight:normal;
        font-style:normal;

    }
.codigoBarra{
    font-family:'Bar-Code 39';
    font-size: 60px;
}