﻿.printFormat{
	margin-left: 5em;
	width:800px;
	font-family:Helvetica;	
}

.printFormat .header{
	font-size:1.3em;
	text-align:center;
}
.body{
	font-size:1em;
	line-height:1.7em;	
}
.body label{
	font-weight:bold;	
}
.bodyText label{
	width: 6em;
	display: inline-block;	
}
.infoText{
	border: 1px solid #999999;
	padding: 2px;
	padding-left: 8px;
	padding-right: 8px;
	display: inline-block;
	margin-left: 2px;
	font-size:0.9em;
	margin:2px;
}

.shortInfo{
	min-width:225px!important;
}
.interlabel{
	width: 8em!important;		
}

.padLeft{
	padding-left:1em!important;
}
.inlineHead{
	display:none;
}
.notinlineHead{
	display:block;
}

.bodyText span{
	min-width:616px;	
}
.bodyText .inputText{
	height:2em;
	margin:2px;
	min-width:620px;
	border: 1px solid #999999;	
	padding-left:12px;
}
.ecoText{
	padding-top:0.8em;
	text-align:right;
	margin-right: 66px;
}
.clearLine{
	display:block;
	height:1.3em;
}
.tdLeft{
	width: 5.5em;
	display: inline-block;	
}
.bodyTextLeft{	
	display:inline-block;
}
.bodyTextRight{
	float:right;
	display:inline-block;
	margin-right: 100px;
}
.bodyTextRight .inputText{
	width:4em;
	height:1.5em;
}
.spacing{
	margin-top:3em;
	width: 6em;
}
.boxText{
	display:inline-block;
	width:2.0em;
	border:1px solid #999999;
	padding:2px;
	text-align:center;
}
.boxDiv{
	min-width:1.5em!important;
	height:1.5em!important;
	display:inline-block;
	border:1px solid #999999;
}
.center{
	text-align:center;
}
.mailText .inputText{
	min-width:25.8em;
}
.phoneText .inputText{
	min-width:25.8em;
}
.labelBox{
	width:auto!important;
	margin-right:0.8em;
	margin-left:0.2em;
	vertical-align: top;
	height:1.5em!important;
	display:inline-block;
}
.inputTextBox{
	width:4em !important;
}
.minorText .inputText {
	width:34.3em !important;
}
.right{
	text-align:right;
	padding-right:5px;
}
.signatureDiv{
	border-top:2px solid black;
	display:block;
	float:right;
	width:20em;	
	text-align:center;
	margin-right: 66px;
}
.smallNoteFooter{
	font-size: 0.8em;
	display: block;
	clear: both;
	line-height: 1.5em!important;
	padding-top:1em;
	padding-bottom:0.5em;
	text-align:justify;
}
.head{
	font-size:1.2em;
	text-align:center;
	font-weight:bold;
}
.cutter{
	margin-top:1em;
	border-top:2px dotted black;
	padding-top:1em;
}
.minText{
	width:8em;
	text-align:center;
}
.mediumInput{
	width:20em;
}

.fullWidth{
	width:49.3em;
}

.addressLabel{
	font-size:0.7em;
}

.subLabel {
    position:relative; 
    top:0.5em;
}

.noBottomPadding {
    padding-bottom:0em !important;
}