﻿.photoList li {
	width:43%;
}
.photoList img {
	width:100%!important;
	margin-left: 1em!important;
}	
.copyright{
	text-align:center;
	width:100%;
}
.newsPage, .overviewNews {    
    margin-left: 0em;
}	
#main .row {
    padding: 0 0.5em;
}
h3, h3 a {
    font-size: 1.25em;
}
.overviewNews img, .newsPage img{
	width:100%;
	height:auto !important;
}
.overviewNews .overviewDiv{   	
    float: none;
}
.imgHead{
	display:none;
}

.is-post img {
	width:100%;
}
	
.is-post-summary img {
	width:100%;
}
		
.featured-box {	
	background-color:white;	
	width:43% !important;			
	padding: 0.5em !important;
	margin-right: 0em;
	float:none;	
	height: 9em!important;
	vertical-align:top!important;
	display:inline-block;
}
.featured-box img {
	width:100% !important;
	height:100px!important;
	padding:0em !important;
}
.bottom-link-div {
	width:100%!important;										
}
.is-post img[style], .old-news img[style], .is-page-content img[style]{
	width:100%!important;	
	height:auto!important;
}
.bottom-link-div{
    display:none;  
}
#nav{
	display:none;
}
.logo h1{
	display:none;
}
.logo, .byline{
	background:clear;
	padding-top:4em;
	position:relative;
	color:#388a62;
}
.logo{
	padding-bottom:0.3em;
	border-bottom:2px solid #388a62;
	width:80%;
	margin:auto;
}
.subHead{
	color:#b87012;
	display:block;
}
#header, #header a {
    padding-top: 0em;
	background:white;
}
.medium-font strong{
	display:block;
	font-size:1.4em;
}
/*********************************************************************************/
/* Mobile UI   
/*********************************************************************************/

	#titleBar{
		background-color:#388A62;
		background-image: url("/media/1026/back.png");			
	}
	#titleBar[style]{
		height:2.8em!important;
		padding-top:0.2em!important;
		padding-left:30%!important;
	}
    #titleBar:after
    {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
     
      opacity: 0.15;
    }

    #titleBar .title
    {
      position: relative;
	  font-family: 'Archivo Narrow';
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.25em;
      line-height: 44px;
      color: #fff;
      z-index: 1000;
      text-align: center;
    }

    #titleBar .toggle
    {
      position: absolute;
      left: 0;
      top: 0;
      text-indent: -9999px;
      background: #ffe84f url('/media/1094/menumobile.png') no-repeat;
      width: 3em;
      height: 3em;
      z-index: 1001;
	  
    }

      #titleBar .toggle:active
      {
        background-color: #ebe3b2;
      }

  #navPanel
  {
    background: -moz-linear-gradient(top, #0F6B29, #063E16);
    background: -webkit-linear-gradient(top, #0F6B29, #063E16);
    background: -o-linear-gradient(top, #0F6B29, #063E16);
    background: -ms-linear-gradient(top, #0F6B29, #063E16);
    background: linear-gradient(top, #0F6B29, #063E16);
	font-family: 'Archivo Narrow';
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.25em;
    box-shadow: inset -3px 0px 10px 0px rgba(0,0,0,0.25);
  }

    #navPanel nav
    {
      position: relative;
      z-index: 1000;
    }

    #navPanel:after
    {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url('images/overlay.png');
      opacity: 0.25;
    }

    #navPanel .link
    {
      display: block;
      color: inherit;
      text-decoration: none;
      height: 44px;
      line-height: 44px;
      padding: 0 1em 0 1em;
      color: #fff;
      border-top: solid 2px rgba(87, 93, 89, 0.15);
    }
    
    #navPanel .link:first-child
    {
      border-top: 0;
    }
/*********************************************************************************/
/* End Mobile UI                                                                     */
/*********************************************************************************/
.service-ul li {
	width:90%;
	margin-bottom:1em;
}
.overviewNews .button{
	text-align:center;
	font-size:1.3em;
	margin-top:-0.3em;
}
.phoneNumbers{
	font-size:0.7em;
}
table{
	width:100%;
}
table td {
    padding: 0.3em 0.2em;
	word-wrap: break-word!important;
}
.featuredDivInfo ul {
	margin:auto;
}
.twitterList, .fbLink img {
    width: 2em;
}
.iconBtn {
    padding-left: 0.8em;
}
.socialBig img[style]{
	height:auto!important;
	width:50%;	
}
.socialBig li {
    width: 40%;
	padding-bottom:1em;
}
.socialBig a, .socialBig li {    
    font-size: 1em;
}		
.formTable{
	width:100%;
} 

.inputArea, .inputBox {
    width: auto;
}	
.formTable td, .formTable th {
    padding: 0.2em 0.4em;
}
.formTable {
    font-size: 0.9em;
}		
		
		
		
			
	

