﻿@using Legendary.Core.Utils

@{
            
    var emailAddressToSend = ViewData["emailAddressToSend"].IsNotEmptyOrNull() ? ViewData["emailAddressToSend"] : string.Empty;
    var reportId = ViewData["reportId"].IsNotEmptyOrNull() ? (int)ViewData["ReportId"] : 0;
}

<form action="#" id="formToSerialize">
    <table class="formTable contactForm smallForm">
        <tr><th colspan="2">Contacta a la persona afectada.</th>
        <tr>
        <tr>
            <td>Desde:</td>
            <td><input type="text" name="" class="inputBox" placeholder="mi-email@mail.com" value="contacto@taxistascancun.com" disabled="true" /></td>
        </tr>
        <tr>
            <td>Para:</td>
            <td><input type="text" name="" class="inputBox" placeholder="mi-email@mail.com" value="@emailAddressToSend" disabled="true" /></td>
        </tr>        
        <tr>
            <td>Asunto:</td>
            <td><input type="text" name="Subject" class="inputBox" placeholder="Mi asunto" /></td>
        </tr>
        <tr>
            <td>Mensaje: </td>
            <td><textarea name="Body" class="inputArea"></textarea></td>
        </tr>
        <tr>
            <td class="centerTd" colspan="2"><input class="submitBtn" id="submitBtn" type="button" value="Enviar"><div class="loadingDiv" id="load" style="display:none;"><img src="/media/1109/loading.gif" /></div></td>
        </tr>
    </table>
    <input name="AddressTo" type="hidden" value="@emailAddressToSend" id="emailAddressTo" />
    <input name="AddressFrom" type="hidden" value="contacto@taxistascancun.com" id="emailAddressTo" />
    <input name="ReportId" type="hidden" value="@reportId" id="reportId" />
</form>

<input type="button" id="redirectButton"/>
<script type="text/javascript">
	$(document).ready(function(){
		$('#submitBtn').click(function(){
			SendMail();
		});

	});
	function SendMail(){		
		$('#load').show();
		$.ajax
  		(
			{
				type: "POST",
				url: "https://tribalancemailsender.azurewebsites.net/api/email",
				dataType: 'json',
				crossDomain:true,
				data: $( "#formToSerialize" ).serialize(),
				success: function (){
				    alert('Mensaje enviado, por favor espere se esta por redireccionar la pagina.');
				    $.ajax({
				        type: "POST",
				        url: "@Url.Action("SaveResponseEmail","Editions")",
				        data: $("#formToSerialize").serialize()
				    });
					window.location.replace("/home");
					$('#load').hide();
    			},
				error: function(e){
					var errorMessage = "";
					if(e.responseJSON.ModelState["email.Body"] != undefined){
						errorMessage += e.responseJSON.ModelState["email.Body"]+' . ';
					}
					if(e.responseJSON.ModelState["email.AddressFrom"] != undefined){
						errorMessage += e.responseJSON.ModelState["email.AddressFrom"];
					}
					$('#load').hide();
					alert(errorMessage);
				},
				headers: {
    				"Authorization": "Basic L1ei4U4DzESM77aFqwxJjo6J8lGMDPXaF37y0xsv7tQP2c+dtbyl9hhwi654GA+n/z+39wUeir4/Kb+d+alJgNDcBlq4UaHrdvNVVXOQ2zg="
  				}
			}
		);
	}
</script>