﻿@using Legendary.Core.Utils
@{
    var errors = ViewData["errors"].IsNotEmptyOrNull() ? ViewData["errors"].Get<bool>() : false;
}


<form id="suggestionForm" action="/home/PostReport">
    <table class="formTable contactForm">
        <tr><th colspan="2">Envíenos su reporte</th>
        <tr><td>
                @{
                    if (errors)
                    {
                        <h5 class="warning-error">Favor de llenar todos los campos obligatorios</h5>
                    }
                }                
            </td>
        <tr>
            <td>Nombre del afectado: <span class="optional">(Obligatorio)</span></td>
            <td><input type="text" name="ComplainantName" class="inputBox" placeholder="Mi nombre" /></td>
        </tr>
        <tr>
            <td>Email: <span class="optional">(Obligatorio)</span></td>
            <td><input type="text" name="Email" class="inputBox" placeholder="mail@mail.com" /></td>
        </tr>
        <tr>
            <td>Telefóno: <span class="optional">(Opcional)</span></td>
            <td><input type="text" name="Phone" class="inputBox" placeholder="998 8888888" /></td>
        </tr>
        <tr>
            <td>Facebook: <span class="optional">(Opcional)</span></td>
            <td><input type="text" name="Facebook" class="inputBox" placeholder="" /></td>
        </tr>
        <tr>
            <td>Twitter: <span class="optional">(Opcional)</span></td>
            <td><input type="text" name="Twitter" class="inputBox" placeholder="" /></td>
        </tr>
        <tr>
            <td>Ubicación del incidente: <span class="optional">(Obligatorio)</span></td>
            <td><textarea name="IncidentLocation" class="inputArea"></textarea></td>
        </tr>
        <tr>
            <td>Descripción del problema: <span class="optional">(Obligatorio)</span></td>
            <td><textarea name="Description" class="inputArea"></textarea></td>
        </tr>
        <tr>
            <td>Número de indentificación del taxista implicado: <span class="optional">(Opcional)</span></td>
            <td><input type="text" name="DriverNumber" class="inputBox" placeholder="" /></td>
        </tr>
        <tr>
            <td>Número de la placa del taxi: <span class="optional">(Opcional)</span></td>
            <td><input type="text" name="NumberPlate" class="inputBox" placeholder="" /></td>
        </tr>
        <tr>
            <td>Número del taxi: <span class="optional">(Opcional)</span></td>
            <td><input type="text" name="CarNumber" class="inputBox" placeholder="" /></td>
        </tr>
        <tr>
            <td class="centerTd" colspan="2"><input class="submitBtn formSuggestion" type="submit" value="Enviar">	</td>
        </tr>
    </table>
    <input type="hidden" name="UserId" value=0>
    <input type="hidden" name="Status" value=1>
</form>