﻿@using Legendary.Core.Utils
@using Reports.Application.Helpers
@using Reports.Models;
@using UserService

@model Reports.Application.Models.ViewReport
@{
    //TimeZoneInfo mxZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time (Mexico)");
    TimeZoneInfo mxZone = TimeZoneInfo.FindSystemTimeZoneById(SiteOptions.GetDisplayTimeZone());
    DateTime convertedTime = TimeZoneInfo.ConvertTimeFromUtc(Model.CurrentReport.UtcDateCreated, mxZone);
    var typeText = SiteOptions.GetReportType(Model.CurrentReport.Type);
    var reOpen = SecurityService.Manager.HasPermissions(LoginManager.GetLoggedUser().userId, (int)SecurityService.Model.SystemPermissions.ReportsPermissions.ReopenReport);
    var addInvolved = SecurityService.Manager.HasPermissions(LoginManager.GetLoggedUser().userId, (int)SecurityService.Model.SystemPermissions.ReportsPermissions.CreateInvolvedPerson);
    var createEditions = SecurityService.Manager.HasPermissions(LoginManager.GetLoggedUser().userId, (int)SecurityService.Model.SystemPermissions.ReportsPermissions.CreateEdition);

    var nextReport = Model.NextReportId;
    var prevReport = Model.PreviousReportId;
    
}

<h3>Detalle del reporte @Model.CurrentReport.Id, Estado: @SiteOptions.GetReportStatusText(Model.CurrentReport.Status)</h3>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Seleccionar Accion
        <span class="caret"></span>
    </button>
    @if (SiteOptions.AbleToBasedOnStatus(Model.CurrentReport.Status))
    {
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
     @{
        if (Model.CurrentReport.Email.IsNotEmptyOrNull())
        {
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/Home/SendResponseEmail?emailAddressToSend=@Model.CurrentReport.Email&reportId=@Model.CurrentReport.Id">Enviar Correo</a></li>
        }
     }
            @if (addInvolved)
            {
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/InvolvedPersons/Create?reportId=@Model.CurrentReport.Id">Agregar involucrado</a></li>
            }
            @if (createEditions)
            {
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/Editions/Create?reportId=@Model.CurrentReport.Id">Editar Reporte</a></li>
            }            
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/Editions/Close?reportId=@Model.CurrentReport.Id">Cerrar Reporte</a></li>
        </ul>
    }
    else
    {
        if (reOpen)
        {
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/Reports/ReOpen?reportId=@Model.CurrentReport.Id">reabrir Reporte</a></li>
            </ul>
        }

    }
</div><br />

<div class="btn-group" role="group" aria-label="...">
    @if (prevReport.IsNotEmptyOrNull() && prevReport > 0)
    {
        <button type="button" class="btn btn-default"><a href="@( prevReport.IsNotEmptyOrNull() ? Url.Action("ShowReportDescription", new { reportId = prevReport }) : null)">Reporte Anterior</a></button>
    }     
    @if (nextReport.IsNotEmptyOrNull() && nextReport > 0)
    {
        <button type="button" class="btn btn-default"><a href="@( nextReport.IsNotEmptyOrNull() ? Url.Action("ShowReportDescription", new { reportId = nextReport }) : null)">Siguiente Reporte</a></button>
    }   
</div>
<br />

<div class="list-group" style="width: 70em">
    <table class="table" style="border:1px solid #dddddd;">
        <thead>
            <tr class="success">
                <th colspan="2">Reporte # @Model.CurrentReport.Id</th>
                <th colspan="2" class="text-right">@convertedTime</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-md-3"><strong>Tipo de reporte:</strong></td>
                <td class="col-md-3">
                    @typeText
                </td>
                <td class="col-md-3"><strong>Fuente de origen:</strong></td>
                <td>
                    @(Model.CurrentReport.MessageSource.Name)
                </td>
            </tr>            
            <tr>
                <td><strong>Folio del documento externo:</strong></td>
                <td>
                    @(Model.CurrentReport.DocumentReferenceNumber ?? "--")
                </td>
                <td><strong>Fecha de captura del incidente:</strong></td>
                <td>
                    @(Model.CurrentReport.LocalReportingDate.IsNotEmptyOrNull() ? Model.CurrentReport.LocalReportingDate.ToString() : "--")
                </td>
            </tr>            
            <tr>
                <td><strong>Nombre del afectado:</strong></td>
                <td>
                    @Model.CurrentReport.ComplainantName
                </td>
                <td><strong>Número de placa:</strong></td>
                <td>
                    @(Model.CurrentReport.NumberPlate ?? "-")
                </td>
            </tr>
            <tr>
                <td><strong>Correo del afectado:</strong></td>
                <td>
                    @Model.CurrentReport.Email
                </td>
                <td><strong>Número de taxi:</strong></td>
                <td>
                    @Model.CurrentReport.CarNumber
                </td>
            </tr>
            <tr>
                <td><strong>Tel. del afectado:</strong></td>
                <td>
                    @Model.CurrentReport.Phone
                </td>
                <td><strong>Descripción operador:</strong></td>
                <td>
                    @(Model.CurrentReport.DriverDescription ?? "Sin descripción.")
                </td>
            </tr>
            <tr>
                @*<td><strong>Gafet del operador involucrado:</strong></td>
                <td>@(Model.DriverNumber ?? "-")</td>*@
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td><strong> Lugar del evento:</strong></td>
                <td colspan="3">@Model.CurrentReport.IncidentLocation</td>
            </tr>
            <tr>
                <td><strong>Descripción:</strong></td>
                <td colspan="3">@Model.CurrentReport.Description <br />&nbsp; </td>
            </tr>
        </tbody>
    </table>
</div>


@if (Model.CurrentReport.InvolvedPersons.IsNotEmptyOrNull())
{

    <div class="list-group" style="width: 70em">
        <table class="table" style="border:1px solid #dddddd;">
            <thead>
                <tr class="success">
                    <th colspan="2">Personas involucradas</th>
                    <th colspan="2" class="text-right"></th>
                </tr>
            </thead>

            @foreach (var involvedPerson in Model.CurrentReport.InvolvedPersons)
            {

                var involvedPCreatedDate = TimeZoneInfo.ConvertTimeFromUtc(involvedPerson.UtcDateCreated, mxZone);


                <tbody>
                    <tr>
                        <td class="col-md-3"><strong>Nombre: </strong></td>
                        <td class="col-md-3">
                            @involvedPerson.Name
                        </td>
                        <td class="col-md-3"><strong>Tipo de involucrado:</strong></td>
                        <td>
                            @{
                                var type = SiteOptions.GetInvolvedTypeById(involvedPerson.InvolvedTypeId);
                            }
                            @(type.Name.IsNotEmptyOrNull() ? type.Name : "--")
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Telefono :</strong></td>
                        <td>
                            @involvedPerson.Phone
                        </td>
                        <td><strong>Tipo de identificación:</strong></td>
                        <td>
                            @(involvedPerson.InvolvedPersonIdentificationCodeType ?? "-")
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Número de identificación:</strong></td>
                        <td>
                            @(involvedPerson.InvolvedPersonIdentificationCode ?? "-")
                        </td>
                        <td><strong>Agregado en la fecha: </strong></td>
                        <td>
                            @involvedPCreatedDate
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">&nbsp;</td>
                    </tr>
                </tbody>

            }
        </table>
    </div>
}

@if (Model.CurrentReport.Editions.IsNotEmptyOrNull())
{
    foreach (var edt in Model.CurrentReport.Editions)
    {
        <div class="list-group" style="width: 70em">
            <table class="table" style="border: 1px solid #dddddd;">
                <thead>
                    <tr class="success">
                        @{
                             var eUser = Manager.GetUser(edt.EditedById);
                        }
                        <th colspan="2">Editado por:  @(eUser.IsNotEmptyOrNull() ? eUser.Name : "-")</th>
                        @{
                             var editionDate = TimeZoneInfo.ConvertTimeFromUtc(edt.UTCDateEdited, mxZone);
                        }
                        <th colspan="2" class="text-right">@editionDate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Contenido: </strong></td>
                        <td colspan="3">@edt.Content <br />&nbsp; </td>
                    </tr>
                </tbody>
            </table>
        </div>

    }
}