﻿@using Legendary.Core.Utils
@using Reports.Application.Helpers
@using Reports.Models;

@model Suggestion
@{
    TimeZoneInfo mxZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time (Mexico)");
    DateTime convertedTime = TimeZoneInfo.ConvertTimeFromUtc(Model.Date ?? DateTime.Now, mxZone);
    var typeText = SiteOptions.GetSuggestionType(Model.Type);
        
}

<h3>Detalle del mensaje @Model.Id</h3>
<div class="list-group" style="width: 70em">
    <table class="table" style="border:1px solid #dddddd;">
        <thead>
            <tr class="success">
                <th colspan="2">Mensaje # @Model.Id</th>
                <th colspan="2" class="text-right">@convertedTime</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-md-3"><strong>Tipo de reporte:</strong></td>
                <td class="col-md-3">
                    @typeText
                </td>
                <td class="col-md-3"><strong>Nombre del comunicante:</strong></td>
                <td>
                    @(Model.Name ?? "-")
                </td>
            </tr>
            <tr>
                <td><strong>Telefono del comunicante:</strong></td>
                <td>
                    @(Model.Phone ?? "-")
                </td>
                <td><strong>Correo del comunicante:</strong></td>
                <td>
                    @(Model.Email ?? "-")
                </td>
            </tr>         
            <tr>
                <td><strong>Descripción:</strong></td>
                <td colspan="3">@Model.Description <br />&nbsp; </td>
            </tr>
        </tbody>
    </table>
</div>