﻿@using Legendary.Core;
@using Legendary.Core.Utils
@using Reports.API.Helpers
@using Reports.Models
@{
    var lOfSuggestions = ViewData["listOfSuggestions"].IsNotEmptyOrNull() ? (IEnumerable<Suggestion>)ViewData["listOfSuggestions"] : ViewData["listOfSuggestions"];

}

<div>
    <h3>Lista de sugerencias: </h3>
    
    <div class="list-group" style="width: 35em">
        @{
            if (lOfSuggestions.IsNotEmptyOrNull())
            {
                foreach (var rport in lOfSuggestions as IEnumerable<Suggestion>)
                {
                    <a href="/Home/ShowSuggestionDescription?suggestionId=@rport.Id" class="list-group-item @SiteOptions.GetCSSClassByStatus(rport.Status)">
                        <h4 class="list-group-item-heading">Número del mensaje: @rport.Id</h4>
                        <p class="list-group-item-text">Del correo: @rport.Email</p>
                        <strong><p class="list-group-item-text text-right">@SiteOptions.GetReportStatusText(rport.Status)</p></strong>
                    </a>
                }
            }
        }
    </div>      
    
    

</div>


