﻿@using System.Security.Policy
@using Legendary.Core;
@using Legendary.Core.Utils
@using Reports.API.Helpers
@using Reports.Models
@{
    var lOfReports = ViewData["listOfReports"].IsNotEmptyOrNull() ? (IEnumerable<Report>)ViewData["listOfReports"] : ViewData["listOfReports"];
    
}
<div>
    <h3>Lista de reportes: </h3>
   
    <div class="list-group" style="width: 35em">

        @{
            if (lOfReports.IsNotEmptyOrNull())
            {
                foreach (var rport in lOfReports as IEnumerable<Report>)
                {
                    <a href="/Home/ShowReportDescription?reportId=@rport.Id" class="list-group-item @SiteOptions.GetCSSClassByStatus(rport.Status)">
                        <h4 class="list-group-item-heading">Número de reporte: @rport.Id</h4>
                        <p class="list-group-item-text">Del correo: @rport.Email</p>
                        <strong><p class="list-group-item-text text-right">@SiteOptions.GetReportStatusText(rport.Status)</p></strong>
                    </a>
                }
            }
        }

    </div>    

</div>

