﻿@using Reports.Application.Helpers
@using UserService
@model Reports.Models.Report
@{
    var viewDocumentReferenceNumber = SecurityService.Manager.HasPermissions(LoginManager.GetLoggedUser().userId, (int)SecurityService.Model.SystemPermissions.ReportsPermissions.ViewDocumentReferenceNumber);           
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3>Reporte</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        

        <div class="col-md-10">
            <div class="col-lg-12">
                <div class="form-group">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Titulo" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>        
        <div class="col-md-2">
            <div class="col-lg-12">
                <div class="form-group">
                    <input type="text" value="@DateTime.Now.ToString("MMMM dd, yyyy")" class="form-control" name="Date"/>
                    @Html.HiddenFor(a => a.LocalReportingDate, new { @Id = "datetimepicker2" })
                    @Html.ValidationMessageFor(model => model.LocalReportingDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-lg-12">
                <div class="form-group">
                    @*@Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })*@
                    <label for="SourceId">Origen del Reporte</label>
                    @Html.DropDownList("SourceId", SiteOptions.GetMessageSourcesAsSelectList(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SourceId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-lg-12">
                <div class="form-group">
                    @*@Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })*@
                    <label for="Type">Tipo de Reporte</label>
                    @Html.DropDownList("Type", SiteOptions.GetReportTypesAsSelectList(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="Priority">Prioridad del Reporte</label>
                    @*@Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.DropDownList("Priority", new List<SelectListItem>
                    {
                        new SelectListItem{ Text = "Normal", Value = "2",  },
                        new SelectListItem{ Text = "Urgente", Value = "0" },
                        new SelectListItem{ Text = "Alta", Value = "1" },
                        new SelectListItem{ Text = "Baja", Value = "3" }
                    }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="col-lg-12">
                    @Html.EditorFor(model => model.ComplainantName, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre del Afectado" } })
                    @Html.ValidationMessageFor(model => model.ComplainantName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Correo electronico" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>        
        <div class="col-md-4">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Telefono" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Twitter, new { htmlAttributes = new { @class = "form-control", placeholder = "Twitter" } })
                    @Html.ValidationMessageFor(model => model.Twitter, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Facebook, new { htmlAttributes = new { @class = "form-control", placeholder = "Facebook" } })
                    @Html.ValidationMessageFor(model => model.Facebook, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>       
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-lg-12">
                    @*@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "10%", cols = "100%", placeholder = "Descripción del Incidente" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>  
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-lg-12">
                    @Html.TextAreaFor(model => model.DriverDescription, new { @class = "form-control", rows = "3%", cols = "100%", placeholder = "Descripción del Conductor" })
                    @Html.ValidationMessageFor(model => model.DriverDescription, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-lg-12">
                    @Html.EditorFor(model => model.IncidentLocation, new { htmlAttributes = new { @class = "form-control", placeholder = "Lugar del Incidente" } })
                    @Html.ValidationMessageFor(model => model.IncidentLocation, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" name="CarNumber" placeholder="No. de Taxi" class="form-control" />
                    @Html.ValidationMessageFor(model => model.CarNumber, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div class="col-lg-12">
                    @Html.EditorFor(model => model.NumberPlate, new { htmlAttributes = new { @class = "form-control", placeholder = "No. Placa" } })
                    @Html.ValidationMessageFor(model => model.NumberPlate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-lg pull-right" id="subtmitButton">Guardar</button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Reports")
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#datetimepicker1').datetimepicker({
            locale: 'es'
        });

        $("#subtmitButton").click(function () {
            var a = $('#datetimepicker1').val();
            $('#datetimepicker1').data("DateTimePicker").locale("en");
            $('#datetimepicker2').val($('#datetimepicker1').val());
            $('#datetimepicker1').val(a);
            $('#datetimepicker1').data("DateTimePicker").disable();
            $('form').submit();
            $('#datetimepicker1').data("DateTimePicker").enable();
        });
    });
</script>