﻿@using Legendary.Core.Utils
@using Reports.Application.Helpers
@using Reports.Models;
@using UserService;
@using System.Globalization;

@model Reports.Application.Models.ViewReport
@{
    //TimeZoneInfo mxZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time (Mexico)");
    var currentUser = LoginManager.GetLoggedUser();
    TimeZoneInfo mxZone = TimeZoneInfo.FindSystemTimeZoneById(SiteOptions.GetDisplayTimeZone());
    DateTime convertedTime = TimeZoneInfo.ConvertTimeFromUtc(Model.CurrentReport.UtcDateCreated, mxZone);
    DateTime expDate = TimeZoneInfo.ConvertTimeFromUtc(Model.CurrentReport.UtcDateExpiration.Value, mxZone);
    DateTime dateModified = TimeZoneInfo.ConvertTimeFromUtc(Model.CurrentReport.UtcDateModified, mxZone);
    var typeText = SiteOptions.GetReportType(Model.CurrentReport.Type);
    var reOpen = SecurityService.Manager.HasPermissions(LoginManager.GetLoggedUser().userId, (int)SecurityService.Model.SystemPermissions.ReportsPermissions.ReopenReport);
    var addInvolved = SecurityService.Manager.HasPermissions(LoginManager.GetLoggedUser().userId, (int)SecurityService.Model.SystemPermissions.ReportsPermissions.CreateInvolvedPerson);
    var createEditions = SecurityService.Manager.HasPermissions(LoginManager.GetLoggedUser().userId, (int)SecurityService.Model.SystemPermissions.ReportsPermissions.CreateEdition);

    var nextReport = Model.NextReportId;
    var prevReport = Model.PreviousReportId;    
    

}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="/Reports">Reportes</a></li>
        <li><span class="glyphicon glyphicon-chevron-right"></span></li>
        <li class="active">Reporte @Model.CurrentReport.Id</li>
    </ol>
    <div class="content">
        <div class="report-container">
            <div class="report-main">
                <div class="report-content">
                    <div class="report-info">
                        <div class="report-header">
                            <h1>@Model.CurrentReport.Title</h1>
                            <div class="report-actions">                                
                                @if (SiteOptions.AbleToBasedOnStatus(Model.CurrentReport.Status))
                                {
                                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Acciones <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#solve-report">Resolver</a></li>
                                    <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#add-person">Agregar involucrado</a></li>
                                    <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#update-priority">Actualizar Prioridad</a></li>
                                    <li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#send-email">Enviar correo</a></li>
                                    <!--<li><a href="#" data-toggle="modal" data-backdrop="static" data-target="#asignar">Asignar Reporte</a></li>-->
                                </ul>
                                }
                                else
                                {
                                    <a href="/Reports/ReOpen?reportId=@Model.CurrentReport.Id" class="btn btn-primary" data-backdrop="static">Reabrir Reporte</a>
                                }
                                <a href="/Reports/printReport?reportId=@Model.CurrentReport.Id" class="btn btn-default">Imprimr</a>                                
                            </div>
                        </div>
                        <div class="report-meta">
                            <span class="label label-@SiteOptions.GetCSSClassByStatus(Model.CurrentReport.Status)">@SiteOptions.GetReportStatusText(Model.CurrentReport.Status)</span>
                            <span class="meta-item meta-priority"><strong>Prioridad:</strong> @SiteOptions.GetReportPriorityText(Model.CurrentReport.Priority)</span>
                            <span class="meta-item meta-type"><strong>Tipo:</strong> @typeText</span>
                            <span class="meta-item meta-area"><strong>Origen:</strong> @(Model.CurrentReport.MessageSource.Name)</span>
                        </div>
                        <div class="report-description">
                            <p>@Model.CurrentReport.Description</p>
                        </div>
                    </div>
                    <div class="report-history">
                        <h3 class="history-title"><span>Historial</span></h3>
                        <ol class="history-list">                            
                            @if (SiteOptions.AbleToBasedOnStatus(Model.CurrentReport.Status))
                            {
                                <li class="history-item type-comment">
                                    <div class="item-date">@DateTime.Now.Date.ToString("dd MMM yyy", CultureInfo.CreateSpecificCulture("es-MX"))</div>
                                    <div class="item-content">
                                        <a href="#" class="user-link" role="button" data-toggle="popover" data-popover-content="#p1">@currentUser.firstName @currentUser.lastName </a>
                                        <form novalidate="novalidate" action="/Editions/Create?reportId=@Model.CurrentReport.Id" method="post">
                                            <div class="add-comment">
                                                <textarea class="form-control" name="Content" placeholder="Agrega un comentario"></textarea>
                                                <button class="btn btn-primary" id="new_comment_btn">Agregar Comentario</button>
                                            </div>
                                        </form>
</div>
                                </li>
                            }
                            else
                            {
                                if (reOpen)
                                {
                                    <li class="history-item type-update">
                                        <div class="item-date">@DateTime.Now.Date.ToString("dd MMM yyy", CultureInfo.CreateSpecificCulture("es-MX"))</div>
                                        <div class="item-content">
                                            Reporte Cerrado, <a href="/Reports/ReOpen?reportId=@Model.CurrentReport.Id" class="user-link">¿Reabrir reporte?</a>                   
                                        </div>
                                    </li>
                                }

                            }
                            @if (Model.CurrentReport.InvolvedPersons.IsNotEmptyOrNull())
                            {

                                foreach (var involvedPerson in Model.CurrentReport.InvolvedPersons)
                                {
                                    var type = SiteOptions.GetInvolvedTypeById(involvedPerson.InvolvedTypeId);
                                    var involvedPCreatedDate = TimeZoneInfo.ConvertTimeFromUtc(involvedPerson.UtcDateCreated, mxZone);
                                    
                                    <li class="history-item type-update" id="nombreInv">
                                        <div class="item-date">@involvedPCreatedDate.Date.ToShortDateString()</div>
                                        <div class="item-content">
                                            Se agregó un @(type.Name.IsNotEmptyOrNull() ? type.Name : "Involucrado"):
                                            <div class="update-info">
                                                <ul>
                                                    <li><a href="#" class="user-link" role="button" data-toggle="popover" data-popover-content="#@involvedPerson.Phone">@involvedPerson.Name</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="@involvedPerson.Phone" class="hidden">
                                            <div class="person-popover">
                                                <div class="person-info">
                                                    <div class="person-pic">
                                                        <img src="" alt="">
                                                    </div>
                                                    <div class="person-name">
                                                        <strong>@involvedPerson.Name</strong><br>
                                                        <span class="note">
                                                            @(type.Name.IsNotEmptyOrNull() ? type.Name : "--")
                                                        </span>
                                                    </div>
                                                    <div class="person-history">
                                                        Agregado por Maria Jimenez Hernandez el 3 de julio, 2015
                                                    </div>
                                                </div>
                                                <div class="person-details">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <th>Teléfono</th>
                                                                <td>@involvedPerson.Phone</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Tipo de ID</th>
                                                                <td>@(involvedPerson.InvolvedPersonIdentificationCodeType ?? "-")</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Numero de ID</th>
                                                                <td>@(involvedPerson.InvolvedPersonIdentificationCode ?? "-")</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="person-history">
                                                    @(type.Name.IsNotEmptyOrNull() ? type.Name : "Involucrado") Agregado el @involvedPCreatedDate
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                            @if (Model.CurrentReport.Editions.IsNotEmptyOrNull())
                            {
                                foreach (var edt in Model.CurrentReport.Editions)
                                {
                                    var eUser = Manager.GetUser(edt.EditedById);
                                    var editionDate = TimeZoneInfo.ConvertTimeFromUtc(edt.UTCDateEdited, mxZone).Date.ToShortDateString();
                                    
                                    <li class="history-item type-comment">
                                        <div class="item-date">@editionDate</div>
                                        <div class="item-content">
                                            <a href="#" class="user-link" role="button" data-toggle="popover" data-popover-content="#p1">@(eUser.IsNotEmptyOrNull() ? eUser.Name : "-")</a> comentó:
                                            <div class="update-comment">
                                                @edt.Content
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        </ol>

                    </div>
                </div>
            </div>
            <div class="report-sidebar">
                <div class="report-sidebar-module">
                    <h2>Taxi</h2>
                    <table class="table">
                        <tbody>
                            @if (Model.CurrentReport.InvolvedPersons.IsNotEmptyOrNull())
                            {
                                foreach (var involvedPerson in Model.CurrentReport.InvolvedPersons)
                                {
                                    var type = SiteOptions.GetInvolvedTypeById(involvedPerson.InvolvedTypeId);
                                    if (type.Id == 2)
                                    {
                                        <tr>
                                            <th>Operador:</th>
                                            <td><a href="#" class="user-link" role="button" data-toggle="popover" data-popover-content="#@involvedPerson.Phone-i">@involvedPerson.Name</a></td>
                                        </tr>
                                    }
                                    }
                                    }                    
                            <tr>
                                <th>Número</th>
                                <td><a href="/Reports?Request.CarNumber=@Model.CurrentReport.CarNumber" class="user-link">@Model.CurrentReport.CarNumber</a></td>
                            </tr>
                            <tr>
                                <th>Placa</th>
                                <td>@(Model.CurrentReport.NumberPlate ?? "Desconocida")</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--Popover-->
                    @if (Model.CurrentReport.InvolvedPersons.IsNotEmptyOrNull())
                    {
                        foreach (var involvedPerson in Model.CurrentReport.InvolvedPersons)
                        {
                        var type = SiteOptions.GetInvolvedTypeById(involvedPerson.InvolvedTypeId);
                            if (type.Id == 2)
                            {
                    <div id="@involvedPerson.Phone-i" class="hidden">
                        <div class="person-popover">
                            <div class="person-info">
                                <div class="person-pic">
                                    <img src="https://media.licdn.com/mpr/mpr/shrink_100_100/p/7/005/03f/375/1e0683a.jpg" alt="">
                                </div>
                                <div class="person-name">
                                    <strong>@involvedPerson.Name</strong><br>
                                    <span class="note">Operador</span>
                                </div>
                            </div>
                            <div class="person-details">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Teléfono</th>
                                            <td>@involvedPerson.Phone</td>
                                        </tr>
                                        <tr>
                                            <th>Tipo de ID</th>
                                            <td>@(involvedPerson.InvolvedPersonIdentificationCodeType ?? "-")</td>
                                        </tr>
                                        <tr>
                                            <th>Numero de ID</th>
                                            <td>@(involvedPerson.InvolvedPersonIdentificationCode ?? "-")</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="person-history">
                                @(Model.CurrentReport.DriverDescription ?? "Sin descripción.")
                            </div>
                        </div>
                    </div>
                    }
                    }
                    }
                    <!--/Popover-->
                </div>
                <div class="report-sidebar-module">
                    <h2>Afectado &bull;<a href="#" data-toggle="modal" data-backdrop="static" data-target="#send-email"> Enviar correo</a></h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Nombre:</th>
                                <td>@Model.CurrentReport.ComplainantName</td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td>@Model.CurrentReport.Email</td>
                            </tr>
                            <tr>
                                <th>Teléfono:</th>
                                <td>@Model.CurrentReport.Phone</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="report-sidebar-module">
                    <h2>Detalles</h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Origen:</th>
                                <td>@(Model.CurrentReport.MessageSource.Name)</td>
                            </tr>
                            <tr>
                                <th>Folio externo:</th>
                                <td>@(Model.CurrentReport.DocumentReferenceNumber ?? "Sin Doc. Externo")</td>
                            </tr>
                            <tr>
                                <th>Lugar del evento:</th>
                                <td>@Model.CurrentReport.IncidentLocation</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="report-sidebar-module">
                    <h2>Fechas</h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Fecha de creación:</th>
                                <td>@Model.CurrentReport.UtcDateCreated.ToString("dd MMMM yyyy", CultureInfo.CreateSpecificCulture("es-MX"))</td>
                            </tr>
                            <tr>
                                <th>Hora de creación:</th>
                                <td>@Model.CurrentReport.UtcDateCreated.ToString("hh:mm:ss tt")</td>
                            </tr>
                            <tr>
                                <th>Última edición:</th>
                                <td>@dateModified.Date.ToString("dd MMMM yyyy", CultureInfo.CreateSpecificCulture("es-MX"))</td>
                            </tr>
                            <tr>
                                <th>Fecha límite:</th>
                                <td style="text-transform:capitalize">@expDate.Date.ToString("dd MMMM yyyy", CultureInfo.CreateSpecificCulture("es-MX"))</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL: Resolver reporte -->
<div class="modal fade" id="solve-report">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Resolver reporte</h4>
            </div>
            <form action="/Editions/Close?reportId=@Model.CurrentReport.Id" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="control-label">Comentarios</label>
                        <div class="form-input">
                            <textarea class="form-control" id="Content" name="Content" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-text" data-dismiss="modal">Cerrar</a>
                    <button type="submit" class="btn btn-primary">Guardar como resuelto</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL: Asignar A -->
<div class="modal fade" id="asignar">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Agregar involucrado</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="control-label">Departamento</label>
                        <div class="form-input">
                            @*Html.DropDownList("listadepartamento", null, new { @class = "form-control" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Departamento</label>
                        <div class="form-input">
                            @*Html.DropDownList("empleadosList", null, new { @class = "form-control" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Departamento</label>
                        <div class="form-input">
                            @*Html.DropDownList("empleadosList", null, new { @class = "form-control" })*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-text" data-dismiss="modal">Cerrar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MODAL: Agregar involucrado -->
<div class="modal fade" id="add-person">
    <div class="modal-dialog">
        <form method="post" action="/InvolvedPersons/Create?reportId=@Model.CurrentReport.Id">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Agregar involucrado</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="control-label">Tipo de involucrado</label>
                        <div class="form-input">
                            @Html.DropDownList("InvolvedTypeId", SiteOptions.GetInvolvedTypesAsSelectList(), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="main-person-fields">
                        <div class="form-group">
                            <label for="" class="control-label">Nombre</label>
                            <div class="form-input">
                                <input type="text" name="Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label">Telefono</label>
                            <div class="form-input">
                                <input type="text" name="Phone" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="main-person-fields">
                        <div class="form-group">
                            <label for="" class="control-label">Tipo de Identificación</label>
                            <div class="form-input">
                                <input type="text" name="InvolvedPersonIdentificationCodeType" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label">Numero de Identificación</label>
                            <div class="form-input">
                                <input type="text" name="InvolvedPersonIdentificationCode" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-text" data-dismiss="modal">Cerrar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div><!-- /.modal-content -->
        </form>                
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- MODAL: Enviar correo -->
<div class="modal fade" id="send-email">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Contactar Afectado</h4>
            </div>
            <form action="#" id="formToSerialize">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="" class="control-label">Desde</label>
                        <div class="form-input">
                            <input type="text" name="" class="form-control" value="@currentUser.firstName @currentUser.lastName [@currentUser.email]" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Para</label>
                        <div class="form-input">
                            <input type="text" name="" class="form-control" value="@Model.CurrentReport.Email" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Asunto</label>
                        <div class="form-input">
                            <input type="text" name="Subject" class="form-control" value="[Reporte @Model.CurrentReport.Id]">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Mensaje</label>
                        <div class="form-input">
                            <textarea class="form-control" name="Body" id="" cols="30" rows="10"></textarea>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-text" data-dismiss="modal">Cerrar</a>
                    <input id="submitBtn" class="btn btn-primary" type="button" value="Enviar correo">
                    <input name="AddressTo" type="hidden" value="@Model.CurrentReport.Email" id="emailAddressTo" />
                    <input name="AddressFrom" type="hidden" value="contacto@taxistascancun.com" id="emailAddressTo" />
                    <input name="ReportId" type="hidden" value="@Model.CurrentReport.Id" id="reportId" />
                </div>
            </form>
                                
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--Modal Cambiar Prioridad-->
<div class="modal fade" id="update-priority">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Actualizar Prioridad del Reporte</h4>
            </div>
            <form action="/Editions/changePriority" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="control-label">Prioridad</label>
                        <input type="hidden" name="reportId" value="@Model.CurrentReport.Id">
                        <div class="form-input">
                            <select class="form-control" name="Priority">
                                <option value="0" @(Model.CurrentReport.Priority == 0 ? "selected=selected" : "")>Urgente</option>
                                <option value="1" @(Model.CurrentReport.Priority == 1 ? "selected=selected" : "")>Alta</option>
                                <option value="2" @(Model.CurrentReport.Priority == 2 ? "selected=selected" : "")>Regular</option>
                                <option value="3" @(Model.CurrentReport.Priority == 3 ? "selected=selected" : "")>Baja</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-text" data-dismiss="modal">Cerrar</a>
                    <button type="submit" class="btn btn-primary">Actualizar Prioridad</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*section scripts{
<script src="~/Scripts/hint-sequence-details.js"></script>
}*@