﻿@using System.Globalization
@using System.Security
@using System.Security.Policy
@using Legendary.Core;
@using Legendary.Core.Model
@using Legendary.Core.Utils
@using Microsoft.Ajax.Utilities
@using Reports.Application.Helpers
@using Reports.Application.Models
@using Reports.Models
@using UserService
@{
    var lOfReports = Model.Reports;
    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    TimeZoneInfo mxZone = TimeZoneInfo.FindSystemTimeZoneById(SiteOptions.GetDisplayTimeZone());
    var reportTypesList = SiteOptions.GetReportTypesList();
    var messageSourcesList = SiteOptions.GetMessageSourceList();
    var viewCreatedBy = SecurityService.Manager.HasPermissions(UserService.LoginManager.GetLoggedUser().userId, (int)SecurityService.Model.SystemPermissions.ReportsPermissions.ViewCreatedByUser);
    var viewDocumentReferenceNumber = SecurityService.Manager.HasPermissions(UserService.LoginManager.GetLoggedUser().userId, (int)SecurityService.Model.SystemPermissions.ReportsPermissions.ViewDocumentReferenceNumber);
    var reportSourcesList = new List<SelectListItem>() { new SelectListItem() { Value = 0.ToString(), Text = "Todos" } };
    reportSourcesList.AddRange(SiteOptions.GetMessageSourcesAsSelectList());
    var reportTypesItemList = new List<SelectListItem>() { new SelectListItem() { Value = 0.ToString(), Text = "Todos" } };
    reportTypesItemList.AddRange(SiteOptions.GetReportTypesAsSelectList());
}
@model PaginatedReports
           
@{
    var minDateText = "";
    var maxDateText = "";
    if (Model.Request.MinDate.IsNotEmptyOrNull())
    {
        minDateText = Model.Request.MinDate.ToString();
        DateTime dt = DateTime.Parse(minDateText,
                                        CultureInfo.InvariantCulture);
        minDateText = dt.ToString("dd/MM/yyyy");
    }
    if (Model.Request.MaxDate.IsNotEmptyOrNull())
    {
        maxDateText = Model.Request.MaxDate.ToString();
        DateTime dt = DateTime.Parse(maxDateText,
                                        CultureInfo.InvariantCulture);
        maxDateText = dt.ToString("dd/MM/yyyy");
    }
}
<div>
    @{
        var OrderedById = Model.Request.OrderById.IsNotEmptyOrNull() ? Model.Request.OrderById : 1;
        var OrderedByPriority = Model.Request.OrderByPriority.IsNotEmptyOrNull() ? Model.Request.OrderByPriority : 1;
        var OrderByStatus = Model.Request.OrderByStatus.IsNotEmptyOrNull() ? Model.Request.OrderByStatus : 1;
        var requestEmail = Model.Request.Email.IsNotEmptyOrNull() ? Model.Request.Email : "";
        var requestCarNumber = Model.Request.CarNumber.IsNotEmptyOrNull() ? Model.Request.CarNumber : null;
        var requestId = Model.Request.Id.IsNotEmptyOrNull() ? Model.Request.Id : null;        
    }
    <div class="top-btn">
        @Html.ActionLink("Crear nuevo reporte", "Create", "Reports", new { @class="btn btn-primary createnew" } )
    </div>
    <ul class="nav nav-secondary">
        <li role="presentation" class="active"><a href="#">Reportes</a></li>
    </ul><!-- /nav-secondary -->
    <div class="content">
        <div class="listing">
            
            <div class="listing-head">
                <div class="filter-container">
                    <div class="filter-actions">
                        <a href="#" class="btn btn-default open-filter"><i class="fa fa-filter"></i> Filtrar</a>
                        <!--<span class="tag-filter">
                            Asignados a:
                            <strong>Maria Gomez Perez</strong>-
                            <a href="#" title="Eliminar filtro"><span class="icon icon-cancel"></span></a>
                        </span>
                        <span class="tag-filter">
                            Estatus:
                            <strong>Todos</strong>
                            <a href="#" title="Eliminar filtro"><span class="icon icon-cancel"></span></a>
                        </span>-->
                    </div>
                    <div class="filter-form" style="display:none;">
                        <div class="filter-form-head">
                            <a href="#" class="btn btn-text close-filter"><i class="fa fa-times-circle"></i> Cancelar</a>
                        </div>
                        
                            @using (Html.BeginForm("Index", "Reports", FormMethod.Get, new { @class = "" }))
                                {
                                <div class="filter-form-content form-horizontal">
                                <div class="form-col">
                                    <div class="form-group">
                                        <label for="" class="control-label">Origen</label>
                                        <div class="form-input">
                                            @Html.DropDownList("Request.SourceId", reportSourcesList, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="control-label">Tipo</label>
                                        <div class="form-input">
                                            @Html.DropDownList("Request.Type", reportTypesItemList, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="control-label">Estado</label>
                                        <div class="form-input">
                                            <select name="Request.Status" class="form-control">
                                                <option value="">Todos</option>
                                                <option value="0">Sin Leer</option>
                                                <option value="1">En Proceso</option>
                                                <option value="2">En Seguimiento</option>
                                                <option value="3">Cerrado</option>
                                                <option value="4">Por Expirar</option>
                                                <option value="5">Expirados</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="control-label">Prioridad</label>
                                        <div class="form-input">
                                            <select name="Request.Priority" class="form-control">
                                                <option value="">Cualquiera</option>
                                                <option value="0">Urgente</option>
                                                <option value="1">Alta</option>
                                                <option value="2">Normal</option>
                                                <option value="3">Baja</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-col">
                                    <div class="form-group">
                                        <label for="" class="control-label">Creado</label>
                                        <div class="form-input input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" name="MinDatePlaceholder" id="MinDatePlaceholder" class="form-control input-date" placeholder="dd/mm/aaaa" value="@minDateText">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="control-label">Última edición</label>
                                        <div class="form-input input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" name="MinDatePlaceholder" id="MaxDatePlaceholder" class="form-control input-date" placeholder="dd/mm/aaaa" value="@minDateText">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="control-label">Creado</label>
                                        <div class="form-input input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" name="startDate" id="startDate" class="form-control input-date" placeholder="dd/mm/aaaa">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="control-label">Última edición</label>
                                        <div class="form-input input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" name="startDate" id="startDate" class="form-control input-date" placeholder="dd/mm/aaaa">
                                        </div>
                                    </div>
                                </div><!-- /.form-col -->
                                <div class="form-col">
                                    <div class="form-group">
                                        <label for="" class="control-label">Email</label>
                                        <div class="form-input">
                                            <input type="text" class="form-control" name="Request.Email" value="@requestEmail">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="control-label">No. de Taxi</label>
                                        <div class="form-input">
                                            <input type="text" name="Request.CarNumber" class="form-control" value="@requestCarNumber" />
                                        </div>
                                    </div>
                                   <div class="form-group">
                                        <label for="" class="control-label">No. de Folio</label>
                                        <div class="form-input">
                                            <input type="text" name="Request.Id" class="form-control" value="@requestId" />
                                        </div>
                                    </div>
                                    <input type="hidden" name="Request.MinDate" value="@Model.Request.MinDate" id="Request_MinDate" />
                                    <input type="hidden" name="Request.MaxDate" value="@Model.Request.MaxDate" id="Request_MaxDate" />
                                </div><!-- /.form-col -->
                                </div>
                                <div class="filter-form-footer">
                                    <button type="submit" class="btn btn-primary aplicate-filter"><i class="fa fa-check"></i> Aplicar filtros</button>
                                    <a href="#" class="btn btn-text close-filter">Cancelar</a>
                                </div>
                        }

                   </div>
            </div><!--Finaliza Listing Head-->    
    </div>
    </div>
    </div>
                        
                        @{
                            if (lOfReports.IsNotEmptyOrNull())
                            {
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-data">
                                    <thead>
                                        <tr>
                                            <th class="sortable is-sorted" scope="col"><a href="?Request.OrderById=@(OrderedById == 1 ? 2 : 1)" title="Ordenar por ID">No. Folio <i class="fa fa-chevron-@SiteOptions.GetOrderByAscOrDescImage(OrderedById)"></i></a></th>
                                            <th class="sortable" scope="col"><a href="#" title="Titulo">Titulo</a></th>
                                            <th class="sortable" scope="col"><a href="#" title="Ultima persona que edito">Ultima edición por:</a></th>
                                            @if (viewCreatedBy)
                                            {
                                                <th class="sortable" scope="col"><a href="#" title="Persona que creo el reporte">Creado por</th>
                                            }
                                            <th class="sortable" scope="col"><a href="#" title="Ordenar por Fecha">Fecha</a></th>
                                            <th class="sortable" scope="col"><a href="?Request.OrderByStatus=@(OrderByStatus == 1 ? 2 : 1)" title="Ordenar por Status">Estado<i class="fa fa-chevron-@SiteOptions.GetOrderByAscOrDescImage(OrderByStatus)"></i></a></th>
                                            <th class="sortable" scope="col"><a href="?Request.OrderByPriority=@(OrderedByPriority == 1 ? 2 : 1)" title="Ordenar por Prioridad">Prioridad<i class="fa fa-chevron-@SiteOptions.GetOrderByAscOrDescImage(OrderedByPriority)"></i></a></th>
                                            <th class="sortable" scope="col"><a href="#" title="Numero del Taxi">No. Taxi</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            @foreach (var rport in lOfReports as IEnumerable<Report>)
                                            {
                                                var wasModified = rport.ModifiedByUserId.IsNotEmptyOrNull();
                                                var showLink = Url.Action("Details", new { reportId = rport.Id });
                                                var readBy = SiteOptions.GetUserShortName(rport.ModifiedByUserId ?? 0);
                                                int priority = (int)rport.Priority;
                                                var createdBy = SiteOptions.GetUserShortName(rport.UserId ?? 0);
                                                <tr class="@(readBy.IsEmptyOrNull() ? "is-new" : "") @(priority == 0 ? "urgente" : "") reportunit">
                                                    <td><a href="@showLink">@rport.Id</a></td>
                                                    @if (rport.CarNumber.IsNotEmptyOrNull())
                                                    {
                                                        <td><a href="@showLink">@rport.Title</a></td>
                                                    }
                                                    else
                                                    {
                                                        <td><a href="@showLink">Reporte Usuario</a></td> }
                                                    @if (viewCreatedBy)
                                                    {
                                                        <td>@(readBy.IsEmptyOrNull() ? "- - -" : readBy)</td>
                                                    }
                                                    <td>@(createdBy.IsEmptyOrNull() ? "Ciudadania" : createdBy)</td>
                                                    <td style="text-transform:capitalize;">@TimeZoneInfo.ConvertTimeFromUtc(rport.UtcDateCreated, mxZone).Date.ToString("dd MMMM yyyy", CultureInfo.CreateSpecificCulture("es-MX"))</td>
                                                    <!--<td>"arroba"TimeZoneInfo.ConvertTimeFromUtc(rport.UtcDateCreated, mxZone)</td>-->
                                                    <td class="status"><span class="label label-@SiteOptions.GetCSSClassByStatus(rport.Status)">@SiteOptions.GetReportStatusText(rport.Status)</span></td>
                                                    <td class="priority">@SiteOptions.GetReportPriorityText(rport.Priority)</td>
                                                    <!--<td>arrobaSiteOptions.GetReportTypeText(reportTypesList, rport.Type)</td>-->
                                                    @if (rport.CarNumber.IsNotEmptyOrNull())
                                                    {
                                                        <td>@rport.CarNumber</td>
                                                    }
                                                </tr>
                                            }
                                    </tbody>
                                </table>
                                            
                                    <div class="listing-footer">
                                        <!--<p class="listing-showing">Mostrando 20 de 85 reportes</p>-->
                                        <nav class="listing-pagination">
                                            <ul id="pagination-demo" class="pagination">
                                            </ul>
                                        </nav>
                                     </div>
                                            
                        }
                                  
                                else
                                {
                                    @Html.ActionLink("Regresar al menú", "ShowReports", "Home")
                                    <div class="alert">No se encontraron reportes.</div>
                                }
}


    </div>
                    @section head{
                    }
                    
                    @section scripts {
                        @Scripts.Render("~/bundles/jqueryui")
                        @Scripts.Render("~/bundles/pagination")
                        <script src="/Scripts/hint-sequence-home.js"></script>
                        <script type="text/javascript">

                            $( ".close-filter" ).click(function( event ) {
                                event.preventDefault();
                                $(".filter-form").hide();
                            });
                            $( ".open-filter" ).click(function( event ) {
                                event.preventDefault();
                                $(".filter-form").show();
                            });                           
                            function updateQueryStringParameter(uri, key, value) {
                                var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
                                var separator = uri.indexOf('?') !== -1 ? "&" : "?";
                                if (uri.match(re)) {
                                    return uri.replace(re, '$1' + key + "=" + value + '$2');
                                } else {
                                    return uri + separator + key + "=" + value;
                                }
                            }

                            function InitializePaginator() {
                                var $selector = $('#pagination-demo');
                                var config = {
                                    totalPages: @Model.TotalPages,
                                    visiblePages: 10,
                                    startPage: @Model.SelectedPage,
                                    first: '<i class="fa fa-fast-backward"></i>',
                                    prev: '<i class="fa fa-backward"></i>',
                                    next: '<i class="fa fa-forward"></i>',
                                    last: '<i class="fa fa-fast-forward"></i>',
                                    href: updateQueryStringParameter(window.location.search, 'SelectedPage', '{{number}}')
                                };

                                $selector.twbsPagination(config);
                            }

                            function SubmitFilters(e, sender) {
                                var $this = $(sender);
                                console.log($this);
                                console.log(e);
                                console.log(sender);
                                if (e.which == 13) {
                                    $this.parents("form:first").submit();
                                }
                            }

                            function SubmitFiltersOnChange(e, sender) {
                                var $this = $(sender);
                                $this.parents("form:first").submit();
                            }

                            $(document).ready(function() {
                                @if (Model.TotalPages > 0)
            {
               @: InitializePaginator();
                                                                            }
                                $("input.filter").on("keypress", function(e) { SubmitFilters(e, this); });
                                $("select.filter").on("change", function(e) { SubmitFiltersOnChange(e, this); });


                                var configMinDate = {
                                    dateFormat: "dd/mm/yy",
                                    altFormat: "mm/dd/yy",
                                    altField: "#Request_MinDate",
                                    changeMonth: true,
                                    changeYear: true,
                                    yearRange: '1950:@DateTime.Now.Year',
                                    beforeShow: function(input, inst) {
                                        var cal = inst.dpDiv;
                                        var top = $(this).offset().top + $(this).outerHeight();
                                        var left = $(this).offset().left;
                                        setTimeout(function() {
                                            cal.css({
                                                'top': top
                                            });
                                        }, 10);
                                    }
                                };



                                var configMaxDate = {
                                    dateFormat: "dd/mm/yy",
                                    altFormat: "mm/dd/yy",
                                    altField: "#Request_MaxDate",
                                    changeMonth: true,
                                    changeYear: true,
                                    yearRange: '1950:@DateTime.Now.Year',
                                    beforeShow: function(input, inst) {
                                        var cal = inst.dpDiv;
                                        var top = $(this).offset().top + $(this).outerHeight();
                                        var left = $(this).offset().left;
                                        setTimeout(function() {
                                            cal.css({
                                                'top': top
                                            });
                                        }, 10);
                                    }
                                };

                                $("input#MinDatePlaceholder").datepicker(configMinDate);

                                $("input#MaxDatePlaceholder").datepicker(configMaxDate);

                                $(".clearMinDates").click(function() {
                                    $("#MinDatePlaceholder").val("");
                                    $("#Request_MinDate").val("");
                                });

                                $(".clearMaxDates").click(function () {
                                    $("#MaxDatePlaceholder").val("");
                                    $("#Request_MaxDate").val("");
                                });

                            });
                        </script>
                         
                    }
