﻿@using Legendary.Core.Utils
@using Reports.Application.Helpers
@using Reports.Models;
@using UserService

@model Reports.Application.Models.ViewReport
@{
    //TimeZoneInfo mxZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time (Mexico)");
    var currentUser = LoginManager.GetLoggedUser();
    TimeZoneInfo mxZone = TimeZoneInfo.FindSystemTimeZoneById(SiteOptions.GetDisplayTimeZone());
    DateTime convertedTime = TimeZoneInfo.ConvertTimeFromUtc(Model.CurrentReport.UtcDateCreated, mxZone);
    var typeText = SiteOptions.GetReportType(Model.CurrentReport.Type);
    var reOpen = SecurityService.Manager.HasPermissions(LoginManager.GetLoggedUser().userId, (int)SecurityService.Model.SystemPermissions.ReportsPermissions.ReopenReport);
    var addInvolved = SecurityService.Manager.HasPermissions(LoginManager.GetLoggedUser().userId, (int)SecurityService.Model.SystemPermissions.ReportsPermissions.CreateInvolvedPerson);
    var createEditions = SecurityService.Manager.HasPermissions(LoginManager.GetLoggedUser().userId, (int)SecurityService.Model.SystemPermissions.ReportsPermissions.CreateEdition);

    var nextReport = Model.NextReportId;
    var prevReport = Model.PreviousReportId;
    Layout = "~/Views/Shared/_LayoutPageWithOutMenu.cshtml";

}
<div class="noprint" style="padding:10px;">
    <a href="/Reports/Details?reportId=@Model.CurrentReport.Id" class="btn btn-danger">Cancelar Impresión</a>
    <button type="button" class="btn btn-primary" onclick="window.print()">Imprimir</button>
</div>
<div style="width:1060px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Sindicato de Taxistas Cancun
            <b class="pull-right">Reporte @SiteOptions.GetReportStatusText(Model.CurrentReport.Status)</b></h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <div style="width: 33%; display:inline-block">
                    <p style="margin-left:15px;" class="codigoBarra">126-@Model.CurrentReport.Id</p>
                </div>
                <div style="width: 33%; display:inline-block">
                    <h4><b>Prioridad:</b> @SiteOptions.GetReportPriorityText(Model.CurrentReport.Priority)</h4>
                    <h4><b>Tipo</b> @typeText</h4>
                    <h4><b>Origen:</b> @(Model.CurrentReport.MessageSource.Name)</h4>
                </div>
                <div style="width: 33%; display:inline-block">
                    <h1 style="margin-right:15px;" class="pull-right">Reporte No. @Model.CurrentReport.Id</h1>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Descripción del Reporte</h3>
                </div>
                <div class="panel-body">
                    @Model.CurrentReport.Description
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Historial</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        @if (Model.CurrentReport.InvolvedPersons.IsNotEmptyOrNull())
                        {

                            foreach (var involvedPerson in Model.CurrentReport.InvolvedPersons)
                            {
                                <tr>
                                    @{
                                var type = SiteOptions.GetInvolvedTypeById(involvedPerson.InvolvedTypeId);
                                var involvedPCreatedDate = TimeZoneInfo.ConvertTimeFromUtc(involvedPerson.UtcDateCreated, mxZone);
                                    }
                                    <td>Se agrego el @involvedPCreatedDate.Date.ToShortDateString() a @involvedPerson.Name como un @(type.Name.IsNotEmptyOrNull() ? type.Name : "Involucrado").</td>
                                </tr>
                            }

                        }
                        @if (Model.CurrentReport.Editions.IsNotEmptyOrNull())
                        {
                            foreach (var edt in Model.CurrentReport.Editions)
                            {
                                <tr>
                                    @{
                                var eUser = Manager.GetUser(edt.EditedById);
                                var editionDate = TimeZoneInfo.ConvertTimeFromUtc(edt.UTCDateEdited, mxZone).Date.ToShortDateString();
                                    }
                                    <td>@(eUser.IsNotEmptyOrNull() ? eUser.Name : "Un usuario") agrego el día @editionDate el siguiente comentario:</td>
                                    <td><i>@edt.Content</i></td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Detalles</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <caption>Datos de la Unidad</caption>
                        <thead>
                            <tr>
                                <th style="width:33%;">Operador</th>
                                <th style="width:33%;">Numero Económico de Unidad</th>
                                <th style="width:33%;">Placa de la Unidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @if (Model.CurrentReport.InvolvedPersons.IsNotEmptyOrNull())
                                {
                                    foreach (var involvedPerson in Model.CurrentReport.InvolvedPersons)
                                    {
                                        var type = SiteOptions.GetInvolvedTypeById(involvedPerson.InvolvedTypeId);
                                        if (type.Id == 2)
                                        {
                                            <td style="width:33%;">@involvedPerson.Name</td>
                                        }
                                        else
                                        {
                                            <td style="width:33%;">Sin Nombre de Operador</td>
                                        }
                                    }
                                }
                                <td style="width:33%;">@Model.CurrentReport.CarNumber</td>
                                <td style="width:33%;">@(Model.CurrentReport.NumberPlate ?? "Desconocida")</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <caption>Datos del Afectado</caption>
                        <thead>
                            <tr>
                                <th style="width:33%;">Nombre</th>
                                <th style="width:33%;">Telefono</th>
                                <th style="width:33%;">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:33%;">@Model.CurrentReport.ComplainantName</td>
                                <td style="width:33%;">@Model.CurrentReport.Phone</td>
                                <td style="width:33%;">@Model.CurrentReport.Email</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <p style="font-size:12px"><i>Este documento es de uso exclusivo del Sindicato de Taxistas de Cancún "<i>Andres Quintana Roo</i>" y no representa bajo ningun concepto valor legal, judicial o mercantil, la reproducción parcial o total de este documento sin previa autorización para uso adicional a los fines establecidos puede recaer en sanciones administrativas y sus derivantes.</i></p>
            <p style="font-size:12px"><i>Fecha/Hora de Impresión: @DateTime.Now</i></p>
        </div>
        </div>  
    </div>   
<div class="noprint" style="padding:10px;">
    <a href="/Reports/Details?reportId=@Model.CurrentReport.Id" class="btn btn-danger">Cancelar Impresión</a>
    <button type="button" class="btn btn-primary" onclick="window.print()">Imprimir</button>
</div>                        