﻿@using System.Globalization
@using System.Web.UI.WebControls
@using Legendary.Core.Utils
@model Reports.Application.Models.ReportsStatistics
@{
    ViewBag.Title = "ReportStatistics";
}
<ul class="nav nav-secondary">
    <li class="active"><a href="estadisticas.html">Resumen</a></li>
</ul>
<div class="content">
    <div class="stats">
        <div class="stats-header">
            <button class="btn btn-datepicker" type="button" id="datepicker">15/Jun/2015 - 15/Jul/2015</button>
            <h1>Resumen</h1>
        </div>
        <div class="stats-content">
            <div class="stats-main-chart">
                <div class="chart-info chart-info-sm">
                    <h2>Origenes Reportes recibidos</h2>
                    <table class="table table-data">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Estatus</th>
                                <th class="num">Num reportes</th>
                                <th class="num">%</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ReportTypesStatistics.IsNotEmptyOrNull())
                            {
                            foreach (var item in Model.ReportTypesStatistics)
                            {
                            <tr>
                                <td class="td-chart-color"><span class="chart-color" style="background-color: #126ccf"></span></td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td class="num">@Html.DisplayFor(modelItem => item.Count)</td>
                                <td class="num">@Html.DisplayFor(modelItem => item.Percentage)</td>
                            </tr>
                            }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="chart chart-sm">
                    <div id="source-piechart" style="width: 350px; height: 400px; margin-left: 25px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
        
        @section head{
        }
        @section scripts
{
            @Scripts.Render("~/bundles/jqueryui")
            
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="../scripts/jquery.daterangepicker.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    var configMinDate = {
                        dateFormat: "dd/mm/yy",
                        altFormat: "mm/dd/yy",
                        altField: "#ReportsRequest_MinDate",
                        changeMonth: true,
                        changeYear: true,
                        yearRange: '1950:@DateTime.Now.Year',
                        beforeShow: function (input, inst) {
                            var cal = inst.dpDiv;
                            var top = $(this).offset().top + $(this).outerHeight();
                            var left = $(this).offset().left;
                            setTimeout(function () {
                                cal.css({
                                    'top': top
                                });
                            }, 10);
                        }
                    };

                    var configMaxDate = {
                        dateFormat: "dd/mm/yy",
                        altFormat: "mm/dd/yy",
                        altField: "#ReportsRequest_MaxDate",
                        changeMonth: true,
                        changeYear: true,
                        yearRange: '1950:@DateTime.Now.Year',
                        beforeShow: function (input, inst) {
                            var cal = inst.dpDiv;
                            var top = $(this).offset().top + $(this).outerHeight();
                            var left = $(this).offset().left;
                            setTimeout(function () {
                                cal.css({
                                    'top': top
                                });
                            }, 10);
                        }
                    };

                    $("input#MinDatePlaceholder").datepicker(configMinDate);

                    $("input#MaxDatePlaceholder").datepicker(configMaxDate);

                    $(".clearMinDates").click(function () {
                        $("#MinDatePlaceholder").val("");
                        $("#ReportsRequest_MinDate").val("");
                    });

                    $(".clearMaxDates").click(function () {
                        $("#MaxDatePlaceholder").val("");
                        $("#ReportsRequest_MaxDate").val("");
                    });

                });
            </script>
<script>
    $('#datepicker').dateRangePicker({
        language: 'es',
        showShortcuts: false,
        format: 'DD/MMM/YYYY',
        separator: ' - ',
        getValue: function () {
            return this.innerHTML;
        },
        setValue: function (s) {
            this.innerHTML = s;
        }
    });
</script>
@if (Model.ReportTypesStatistics.IsNotEmptyOrNull())
{                            
<script>
    // Origenes Pie chart
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Origenes', 'Reportes recibidos'],
            @if (Model.ReportTypesStatistics.IsNotEmptyOrNull())
                {
                foreach (var item in Model.ReportTypesStatistics)
                    {
                        <text>['@Html.DisplayFor(modelItem => item.Name)', @Html.DisplayFor(modelItem => item.Count)],</text>
                    }
                }
        ]);

        var options = {
            theme: 'maximized',
            is3D: true
        };

        var chart = new google.visualization.PieChart(document.getElementById('source-piechart'));

        chart.draw(data, options);
    }
</script>
}

        }
