﻿@model Reports.Models.Edition
@{
    ViewBag.Title = "changePriority";
}
<h1>Edición de un reporte</h1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="text" name="Priority" value="@Model.Report.Priority" />
    <input type="text" name="reportId" value="@Model.ReportId" />
    <button type="submit" class="btn btn-default">Continuar</button>
}