﻿@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);
body {
	background-color:#FFFFFF;
	background-image: url("../../media/1026/back.png");
}

strong{
	font-weight:bold;
}

#header, #header a{
	text-align: center;
	font-family: 'Archivo Narrow';
	font-weight:bolder;	
	color:white;
	text-decoration:none;
	padding-top:1em;
}

#nav ul li a {
	font-family: 'Archivo Narrow';
	font-weight:bold;
}

.byline{
	color:#eaeaea;
	font-size:1.2em;
}
.subHead{
	color:#ffe84f;
}
.imgHead{
	float:left;
}

#nav ul li{
	display:inline;	
}
#nav ul li a{	
	text-decoration:none;
}

#nav ul{	
	margin: 0 auto;
}
#nav{
	width:100%;
}

#main{
	background-color:white;
	font-family: 'Archivo Narrow';	
	padding-top:1.2em;
}
#main .row{
	padding:0em 1em;
}
.is-post, .old-news, .is-page-content{
	border:1px solid #b2b2b2;
	padding:1em;	
	margin-bottom:1em;
	color:#666666;
}

.is-post a, .is-post-summary a {
	text-decoration:none;
}
		
h3, h3 a, h2, h2 a{	
	color:#006634;
	font-weight:bold;
	padding-bottom:0.5em;
}
h3 a:hover{	
	color:#028D4A;
}
.is-post .byline, .is-page-content .byline{
	color:#B87012;	
}
.is-post p, .is-page-content p{
	color:black;
	padding-top:0.5em;
	padding-bottom:1em;
}

.is-post-summary p{
	color:black;
	padding-top:0.5em;
	padding-bottom:1em;
	font-size:0.95em;
}

.button, .submitBtn{
	padding:0.5em 1em;
	background: #006634;
	border-radius:5px;
	color: white;
}
.button:hover, .submitBtn:hover{
	background:#028D4A;
}
.old-news .major, .is-page-content h2{
	background: none repeat scroll 0 0 #03984f;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    margin: -0.8em -0.8em 1em;
    padding-bottom: 0.3em;
    padding-left: 0.8em;
    padding-top: 0.3em;
}		

.old-news .style2 li{
 	border-bottom: 1px solid gray;
    margin-bottom: 20px;
    min-height: 150px;
}
.old-news .styleShort li{ 	    
	min-height: 0px!important;			
	border-bottom: none;
}
.styleShort a{			
	text-decoration: underline;
}
.old-news .style2 .lastLi{
 	border-bottom: none;
	padding-bottom:10px;
}
.timestamp{
	border-bottom:none!important;
}
				
.button, .submitBtn{
	text-decoration:none;
}

.button-alt, .submitBtn{
	background:#03984f;	
}
	
.is-post-summary h3, .is-post-summary h3 a{
	font-size:1.1em;
	color:#b87012;
}
.nopaddingTop{
	padding-top:0!important;
}
.nopaddingBottom{
	padding-bottom:0!important;
}

.no-border{
	border: none;
}
.no-border .major{
    background: -webkit-linear-gradient(#ffee88, #f7e04b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffee88, #f7e04b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffee88, #f7e04b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffee88, #f7e04b); /* Standard syntax */
    border: 1px solid #b2b2b2;
    color: #006634;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0.8em -0.8em 1em;
    padding-bottom: 0.3em;
    padding-left: 0.8em;
    padding-top: 0.3em;
}
.nopadding{
	padding:0!important;
}
.minus1margin{
	margin:-1em!important;
}
.featured-box{
	border: 1px solid #006634;
    border-radius: 3px;
    float: left;
    height: 17em;
    margin-bottom: 2em;
    margin-right: 0.8em;
    margin-top: 0.5em;
    width: 12.4em;
}
.featuredMiniBox{
	height: 10.5em;
}
.featuredMiniBox img{
 	height: 3.5em !important;
}	
.featured-box-last{
	margin-right:0;
}
.featured-box img{
 	height: 9em !important;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.5em;
    width: 11.4em !important;
	border-radius:5px;
}
.auto-margin{
	margin:0 auto;
}
.featured-box h3, .featured-box h3 a{
	font-size:1.1em;
	text-align:center;
	padding-top:0.5em;
}
.bottom-link-div{
 	background: none repeat scroll 0 0 #03984f;
    margin-top: 1em;
    padding: 1em 0.5em 1em 0;
    text-align: right;
    width: 11em;
}
.bottom-link-div a{
 	color:white;
	font-weight:bold;	
}

#footer{
	background:white;
	padding-bottom:2em;
	margin-bottom:3em;
	font-family: 'Archivo Narrow';	
}
#footer section{
	width:85%;
	margin: 0 auto;
}

#footer .contact{
	margin-top:3em;
	padding-top:1em;
	border-top:1px solid gray;
}

#copyright{
	color:#5d5d5d;
    margin: 0 auto;
    width: 10em;	
}
.iconFooter{
	margin:0 auto;
	width: 22em;
	padding-bottom:1em;
}
.iconBtn{
	padding-top:2em;
	padding-left: 1em;
}
.sidebarPadding{
	padding:0px 0px 10px 10px !important;
	
}
.sidebarPadding h3{
	color:white;
	padding:0.5em;
	text-align:center;
	background:#7b7b7b;
	border:1px solid gray;
	margin-bottom:0.3em;
	font-size:1.3em;
}

.featuredInfoSecond{
	padding-top:0.9em;
}
.featuredInfoThird{
	padding-top:2em;
}
.featuredDivInfo{
	border: 1px solid #b2b2b2;
    color: #666666;
    margin-bottom: 1em;
    padding: 1em;	
	min-height:150px;			
}

.imgInfo div{
	background: none repeat scroll 0 0 #006634;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: -0.5em;
    padding-bottom: 0.5em;
    padding-top: 1em;
    text-align: center;
    width: 100%;
}
.imgInfo div a{
	text-decoration:none;
	color:white;
}


.imgInfo img{
	width:100%;
}
	
.featuredDivInfo ul{
	list-style-type:square;
	padding-left:2em;
	line-height:1.5em;
	font-size:1.3em;
	color:#006634;			
}
.featuredDivInfo ul a{
	color:#006634;
	text-decoration:none;
}
.featuredDivInfo ul a:hover{
	font-weight:bold;
	text-decoration:underline;
}
.is-page-content .button{
	background:none;
	color:#88530D;
	font-weight:bold;
	text-decoration:underline;
	padding:0!important;
	margin-bottom:2.5em;
	display:block;
	margin-top:1em;
}
.is-page-content h3 a{
	text-decoration:none;					
}
.overviewNews .overviewDiv{   	    
    font-size: 1.1em;       
    text-align: justify;    
}
.overviewNews img, .newsPage img{	
	margin-top:0.5em;
	border:1px solid #b2b2b2;
	border-radius:10px;
}

.newsPage img{
	width:100%;
	margin-bottom:1em;
}

.newsPage, .overviewNews{
	margin-bottom:-1em;
 	margin-left: 1em;		
}
.photoList{
	background:#388a62;
	border-radius:10px;
}
.photoList img{
	border: 1px solid #388a62;
    border-radius: 10 !important;
    margin-right: 1.1em;
	margin-left: 1.1em;
    width: 10em !important;
}
.photoList li {
	display:inline-block;
}
.newsPage .leftColumn{
	width:30%;
	float:left;
}
.newsPage .rightColumn{
	width:60%;
	display:inline-block;
	padding-left:1.5em;
	text-align:justify;
	min-height:26em;
}

.sidebarPadding .old-news h3{	
    font-size: 1.1em!important;		
	border:none;	
	background:none;
	text-align:left;
	padding:0;
	margin:0;
}	
.sidebarPadding .old-news h3 a{	
 	color: #b87012;
}				
.sidebarPadding .old-news{
	margin-top:1em;
}
		
.button-green{
    background: #006634;
    text-decoration: none;    
    border-radius: 5px;
    color: white;
    padding: 0.5em 1em;
	display:block;
	width: 30%;			
}	
.button-green:hover {
    background: #03984f;
}
.li-no-style{
	list-style-type:none;
}
.li-no-style a{
	display:inline-block;	
	padding-right:0.3em;
}
.fbLink {	
	margin-left: -1.5em;
}
table td{
	padding-right:2em;
	padding-left:0.2em;
	padding-top:0.3em;
	padding-bottom:0.3em;
}
table{
	margin: auto;
}
.headTable{
	font-size:1.1em;
	font-weight:bold;
}
.mainPhone{
	text-align:center;
	font-size:2em;
	font-weight:bolder;
	padding-bottom:1em;
	color: #b87012;
}
.hide-descrip a{
	color:white;
	text-decoration:underline;
	font-weight:bold;
}
.medium-font{
	font-size:1.3em;
}

.service-ul{
	margin:auto;
	padding-top:1em;
}
.service-ul li{
	display: inline-block;
    padding: 1em;
    vertical-align: top;
    width: 40%;
	background-color:#006634;
	border-radius:15px;	
	margin-right:2em;	
	min-height:8em;
}
.service-ul h3{
	color:white;
}				
.service-ul .hide-descrip{
	display:none;
}
.service-ul .descrip{
	color: #FFED71;
    cursor: pointer;
    font-weight: bold;
	display:block;
	padding-top:0.3em;	
}	
.hide-descrip{
	padding-bottom:0.5em;
	color:#F7F7F7;
}
.notice-box{
	padding:1em;
	background-color:green;
	color:white;
	font-size:2.2em;
	font-weight:bold;
	text-align:center;
	line-height:1.5em;
	border-radius:20px;
}
.visible-link {
	text-align:center;
	font-weight:bold;
	font-size:1.5em;
}		
.leftColumn img{
	width:100%!important;
}
.overviewNews .image-full img, .newsPage .image-full img {
    width: 100%;
}	
.formTable{	
	color:black;
	margin-top:1em;
	text-align:left;	
	border:1px solid gray;	
	font-size:1.2em;
}
.formTable th{		
    background: -webkit-linear-gradient(#ffee88, #f7e04b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffee88, #f7e04b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffee88, #f7e04b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffee88, #f7e04b); /* Standard syntax */		
	color: #7C4906;	
	border: 1px solid #e7cf30;	
	font-size:1.3em;
	font-weight:bold;	
}
.formTable td, .formTable th{
	vertical-align:middle;	
	padding:0.2em 1em;	
}
.inputBox{	
	height:1.4em;
	font-size:1.03em;
}	
.inputArea{	
	height:8em;
	font-size:1.03em;	
}	
.inputArea, .inputBox{	
	border: 1px solid #b2b2b2;
    border-radius: 5px;
    font-family: "Archivo Narrow";
    padding: 0.2em;
    width: 25em;
}
.submitBtn{
	cursor: pointer;	
    width: 10em;
}
.optional{
	font-size:0.9em;
	color:#7b7b7b;
	font-weight:bold!important;
}
.centerTd{
	text-align:center;
	padding-bottom:1em;
}
.contactForm th{
	background: -webkit-linear-gradient(#2d8057, #026634); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2d8057, #026634); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2d8057, #026634); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2d8057, #026634); /* Standard syntax */
	color:white;	
	font-weight:normal;
 	border: 1px solid #0f9855;	
}
.twitterList, .fbLink img{
	width:1.8em;
}
.socialBigDiv{
	margin:auto;
	width:90%;
	border:1px solid #E0ECF8;
	background-color:#E0ECF8;
	border-radius:10px;
	padding:1em 0em;
}
.socialBig{
	margin-left:10%;	
}
.socialBig li{ 
	display:inline-block;
	text-align:center;
	width:6em;	
}
.socialBig img{
	display:block;
	margin:auto;
	margin-bottom:0.5em;	
	border:none;
}
.socialBig a, .socialBig li{
	text-decoration:none;
	font-size:1.2em;
	font-weight:bold;
	color:#0431B4;	
}
.notice-prox{
	font-size:1.5em;
	font-weight:bold;
}
.smallForm{
	margin:0em!important;
	width:100%;
}
.loadingDiv{
	display:inline;
}
.loadingDiv img {
  	border: medium none;
    margin: 0 0 0 0.5em;
    vertical-align: middle;
    width: 1.5em !important;
}
	
.warning-error {

    color: #DD1414;
}

.list-group-item-info {
color: #31708f;
background-color: #d9edf7;
}

.list-group-item-warning {
color: #8a6d3b;
background-color: #fcf8e3;
}
