﻿#header, #header a{
	font-size:1.75em;
	text-decoration:none;	
}
#header{
	background-image: url("../../media/1026/back.png");
	width:100%;
	margin: 0 auto;    
	position:fixed;
	background-color: #388a62;
	padding-bottom: 0.2em;
}
.logo{
    width:26em;
	margin: 0 auto;
}

.sticky {
  font-size:1em !important;  
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sticky .logo{
  width:36em;		
}
.sticky h1{	
	padding-right:0.5em; 
	font-size:0.7em;		
	display:inline; 				
}	
.sticky .imgHead {    
    width: 25px;			
}

.head-navigation{
	padding-top:8em;
    position:fixed;
	background:#388a62;	
	padding-bottom:1em;
	background-image: url("../../media/1026/back.png");	
}
.stickyNav{
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;	
  padding-top:3.2em;  
  padding-bottom:0.4em;
}
.stickyNav a{
	padding-top:0.3em!important;
	padding-bottom:0.3em!important;
	font-size:1em!important;			
}
	
#main-wrapper{
  padding-top:12em;  
}
	
#nav .ul-container{
	width: 1200px;	
	margin:0 auto;
}
#nav ul li a{
	display:inline-block;
	width:16%;
	text-align:center;	
    background: -webkit-linear-gradient(#ffee88, #f7e04b); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffee88, #f7e04b); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffee88, #f7e04b); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffee88, #f7e04b); /* Standard syntax */		
	padding-top:0.5em;
	padding-bottom:0.5em;	
	color: #006634;
	font-size:1.1em;
	border: 1px solid #e7cf30;
	border-radius:5px;
}
	
#nav .current_page_item a, #nav ul li a:hover{
	background: -webkit-linear-gradient(#2d8057, #026634); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2d8057, #026634); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2d8057, #026634); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2d8057, #026634); /* Standard syntax */		
	color:white;
	border: 1px solid #0f9855;
}

h3, h3 a{
	font-size:1.25em;	
}
.is-post{
	min-height:235px;
}

.is-post img{
	float: left;
    height: 230px;
    margin-right: 1em;
    width: 300px;
}

.is-post-summary img{
	float:left;
	width:230px;
	height: 170px;
	margin-right:1.5em;
}
.column-right, .column-left{	
	margin-right:2em;
	width:58%;
	text-align:justify;
	display:inline-block;	
	vertical-align:top;
}
.column-left{
	width:35%;
}
.column-right{	
	margin-right:0em;
}
.column-left img{
	width:100%!important;
	height:auto !important;
}
.overviewNews img, .newsPage img{
	width:51%;
}
.overviewNews .overviewDiv{   	
    float: right;
}
.overviewNews .overviewDiv{   
    width: 47%;	
}
.smallForm .inputArea, .smallForm .inputBox{
	width:100%;
