﻿@using Reports.Models;

@model Report
@{
    
}

<div>
    <h3>Reporte número: @Model.Id</h3>

    <label>Nombre del afectado: </label> @Html.DisplayFor(a => a.ComplainantName)<br /><br />

    <label>Correo del afectado: </label> @Html.DisplayFor(a => a.Email)<br /><br />

    <label>Fecha del insidente</label> @Html.DisplayFor(a => a.IncidentDate)<br /><br />
    
    <label>Placa del taxista implicado: </label> @Html.DisplayFor(a => a.DriverNumber)<br /><br />

    <label>Número de placa: </label> @Html.DisplayFor(a => a.NumberPlate)<br /><br />

    <label>Número de taxi: </label> @Html.DisplayFor(a => a.CarNumber)<br /><br />

    <label>Lugar del evento: </label> @Html.DisplayFor(a => a.IncidentLocation)  <br /> <br />    

    <label>Descripción del evento:</label> <br /><br />

    @*@Html.TextAreaFor(a => a.Description, new { disabled = true})<br />*@
    @Html.TextAreaFor(a => a.Description, new { disabled = true, rows = 20, @class = "form-control" })<br />
    
</div>

    
