﻿@using Legendary.Core.Utils
@{
    var errors = ViewData["errors"].IsNotEmptyOrNull() ? ViewData["errors"].Get<bool>() : false;
}
<form id="suggestionForm" action="/home/PostSuggestion">
    <table class="formTable contactForm">
        <tr><th colspan="2">Envíenos un mensaje</th>
        <tr><td>
            @{
                if (errors)
                {
                    <h5 class="warning-error">Favor de llenar todos los campos obligatorios</h5>
                }
            }
        </td>

        <tr>
            <td>Nombre: <span class="optional">(Obligatorio)</span></td>
            <td><input type="text" name="Name" class="inputBox" placeholder="Mi nombre" /></td>
        </tr>
        <tr>
            <td>Email: <span class="optional">(Obligatorio)</span></td>
            <td><input type="text" name="Email" class="inputBox" placeholder="mail@mail.com" /></td>
        </tr>
        <tr>
            <td>Telefóno: <span class="optional">(Opcional)</span></td>
            <td><input type="text" name="Phone" class="inputBox" placeholder="998 8888888" /></td>
        </tr>
        <tr>
            <td>Mensaje: <span class="optional">(Obligatorio)</span></td>
            <td><textarea name="Description" class="inputArea"></textarea></td>
        </tr>
        <tr>
            <td class="centerTd" colspan="2"><input class="submitBtn" type="submit" value="Enviar">	</td>
        </tr>
    </table>
    <input type="hidden" name="UserId" value=0>
    <input type="hidden" name="Status" value=1>
</form>