﻿@using Legendary.Core.Utils
@using Reports.Models;

@model Suggestion
@{
    
}

<div>
    @*<label>Nombre del afectado: </label> @Html.DisplayFor(a => a.ComplainantName)<br />*@

    <h3>Mensaje número: @Model.Id</h3>
    @{
        if (Model.Date.IsNotEmptyOrNull())
        {
            <label>Fecha del mensaje: </label>@Html.DisplayFor(a => a.Date)<br /><br />
        }
}

    <label>Nombre del comunicante:</label> @Html.DisplayFor(a=>a.Name)<br/><br />

    <label>Correo del comunicante: </label> @Html.DisplayFor(a => a.Email)<br /><br />

    <label>Telefono del comunicante: </label> @Html.DisplayFor(a => a.Phone)<br /><br />

    <label>Mensaje: </label> <br />

    @*@Html.TextAreaFor(a => a.Description, new { disabled = true})<br />*@
    @Html.TextAreaFor(a => a.Description, new { disabled = true, rows = 20, @class = "form-control" })<br/>
    
</div>