﻿@using Microsoft.Ajax.Utilities
@using UserService.Model

@model LoginRequest
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div>
        <h3>Login. Sugerencias y reportes</h3>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            <fieldset>
                @if (ViewBag.errorMessage != null)
                {
                    <div class="error">
                        @ViewBag.errorMessage
                    </div>
                }
                <legend>@ViewBag.h3Title</legend>
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserEmail, "Email")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.UserEmail, new { @class = "form-control", placeholder = "mail@mail.com" })
                    @Html.ValidationMessageFor(model => model.UserEmail)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.PlainPassword, "Password")
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.PlainPassword, new { @class = "form-control", type = "password" })
                    @Html.ValidationMessageFor(model => model.PlainPassword)
                </div>

                <div class="editor-field">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @checked = (!Model.RememberMe ? "" : "checked") })
                    @Html.LabelFor(model => model.RememberMe, "Recordarme")
                </div>
                @Html.Hidden("absoluteUri", (string)ViewBag.absoluteUri)
                <p>
                    <input type="submit" value="Login" class="btn btn-default" />
                </p>
                @*<div class="small-note blue">@Html.ActionLink("¿Olvidaste tu contraseña?", "ForgotPassword")</div>*@
            </fieldset>
        }
    </div>
</div>
